@model DDDEastAnglia.Models.SessionDisplayModel

<div class="session-details @(Model.IsUsersSession ? "session-details-own" : "")">
    @if (Model.IsUsersSession)
    {
        <div class="pull-right">
            <span class="action">
                <i class="icon-edit"></i> @Html.ActionLink("Edit", "Edit", "Session", new { id = Model.SessionId }, htmlAttributes: null)
            </span>
            <span class="action">
                <i class="icon-trash"></i> @Html.ActionLink("Delete", "Delete", "Session", new { id = Model.SessionId }, htmlAttributes: null)
            </span>
        </div>
    }
    <h3>
        @Model.SessionTitle
        @Html.Action("Status", "Vote", new { id = @Model.SessionId })
    </h3>
    <h4>
        <img src="@Model.SpeakerGravitarUrl" width="32" height="32" alt="@Model.SpeakerName">
        <a href="@Url.Action("Details", "Speaker", new { id = Model.SpeakerId })">@(string.IsNullOrWhiteSpace(Model.SpeakerName) ? Model.SpeakerUserName : Model.SpeakerName)</a>
    </h4>
    <div class="session-tweet">
        @Html.TweetButton(Model.TweetLink.Title)
    </div>
    <div class="session-abstract">
        @Html.MarkdownFor(s => Model.SessionAbstract)
    </div>
</div>
