@model DDDEastAnglia.Models.SessionDisplayModel

<div class="session-details @(Model.IsUsersSession ? "session-details-own" : "")">
    <div class="pull-right">
    @if (Model.IsUsersSession)
    {
        <span class="action">
            <i class="icon-edit"></i> @Html.ActionLink("Edit", "Edit", "Session", new { id = Model.SessionId }, htmlAttributes: null)
        </span>
        <span class="action">
            <i class="icon-trash"></i> @Html.ActionLink("Delete", "Delete", "Session", new { id = Model.SessionId }, htmlAttributes: null)
        </span>
    }
        @Html.Action("Status", "Vote", new { id = @Model.SessionId })
    </div>
    <h3>
        @Model.SessionTitle
    </h3>
    <h4>
        <img src="@Model.Speakers.First().SpeakerGravatarUrl" width="32" height="32" alt="@Model.Speakers.First().SpeakerName">
        <a href="@Url.Action("Details", "Speaker", new { id = Model.Speakers.First().SpeakerId })">@(string.IsNullOrWhiteSpace(Model.Speakers.First().SpeakerName) ? Model.Speakers.First().SpeakerUserName : Model.Speakers.First().SpeakerName)</a>
    </h4>
    <div class="session-abstract">
        @Html.MarkdownFor(s => Model.SessionAbstract)
    </div>
</div>
