@model DDDEastAnglia.Models.SessionDisplayModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<fieldset>
    <legend>Session</legend>

    <div>
        @Html.DisplayFor(m => m.SpeakerName)
    </div>

    <div>
        <strong>@Html.DisplayFor(model => model.SessionTitle)</strong>
    </div>
    <div>
        @Html.MarkdownFor(model => model.SessionAbstract)
    </div>
</fieldset>
<p>
    @if (User.Identity.Name == Model.SpeakerUserName)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.SessionId })  @Html.Raw(" | ")
    }
    @Html.ActionLink("Back to List", "Index")
</p>
