@model DDDEastAnglia.Models.SessionDisplayModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.SessionTitle)</h2>

<div>
    @foreach (var speaker in Model.Speakers)
    {
        <span class="speaker-profile">
            @if (speaker.SpeakerGravatarUrl != null)
            {
                <img src="@speaker.SpeakerGravatarUrl" alt="@speaker.SpeakerName"/>
            }
            <a href="@Url.Action("Details", "Speaker", new { id = speaker.SpeakerId })">@(string.IsNullOrWhiteSpace(speaker.SpeakerName) ? speaker.SpeakerUserName : speaker.SpeakerName)</a>
        </span>
    }
</div>

<div class="tweet-session">
    @if (Model.IsUsersSession)
    {
        @Html.TweetButton("Check out my session for #dddea - " + Model.SessionTitle, Request.Url)
    }
    else
    {
        @Html.TweetButton("Check out this session for #dddea - " + Model.SessionTitle, Request.Url)
    }

</div>

<div class="abstract">
    @Html.MarkdownFor(model => model.SessionAbstract)
</div>

@if (User.Identity.Name == Model.Speakers.First().SpeakerUserName)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.SessionId })
        |
        @Html.ActionLink("Delete", "Delete", new { id = Model.SessionId })
    </p>
}
