@using DDDEastAnglia.Models
@model SessionIndexModel

@{
    ViewBag.Title = "Sessions";
}

@Html.Partial("_SearchBox", new ViewDataDictionary {{"containerClass", ".session-details"}})

<h2>Sessions</h2>

@if (Model.IsOpenForSubmission)
{
    <p>Session submission is now open. If you would like to speak at @Html.DDDEastAnglia(), please @Html.ActionLink("submit a session", "Create", "Session", null, new { @class = "submit-session" }).</p>

    <p>
        We are aiming to put together a diverse programme, so we welcome submissions from any member of the UK developer community
        on anything relevant to modern developers. To uphold the principles of DDD events, we will favour new and local speakers
        over established speakers or speakers from a more remote geographical location. To encourage first-time speakers, we have
        put together a @Html.ActionLink("list of resources", "Resources", "Speaker", null, new { @class = "submit-session" }) to help with session submission to CFP.
    </p>

    <h3>About the Audience</h3>
    <p>
        DDD audiences are interested in hearing about what you have learned about the topic that you are speaking on, being introduced to a new topics, ideas, technology,
        or hearing about your experiences with a project you have been working on.
    </p>

    <h3>Sessions</h3>
    <p>
        Our sessions are 60 minutes long, usually single-speaker talks on a specific subject, although some have featured multiple speakers.
        Technical sessions, particularly those featuring hardware elements (e.g. Raspberry Pi), work well when demos and code samples
        are included. That said, we also welcome sessions that are based around a new format not yet presentedat a DDD event.
    </p>
    <p>
        Typical topics have previously been Raspberry Pi and Gadgeteer, Unit Testing and Test-Driven Development, NoSQL databases like
        RavenDB and Redis, JavaScript, and mobile devices. "Softer" topics such as best practices, agile software development, and taking
        your side project to a prime-time business, have also been presented. We welcome submissions on new topics.
    </p>

    <h3>Review process</h3>
    <p>
        Sessions are voted on by prospective attendees before registration opens. The organisers of DDD events use the results of
        the voting to determine which sessions are most popular and therefore make the best event for our attendees.
    </p>

}

@if (Model.IsOpenForVoting)
{
    <p>Session voting is now open. Please read through the sessions and vote for those that you would like to see on the agenda.</p>
}

@foreach (var session in Model.Sessions)
{
    Html.RenderPartial("_SessionDetailsPartial", session);
}

@section scripts
{
    @Scripts.Render("~/bundles/voting")
    @Scripts.Render("~/bundles/searchfilter")
}
