@model DDDEastAnglia.Models.SessionIndexModel

@{
    ViewBag.Title = "Sessions";
}

<h2>Sessions</h2>
@if (Model.IsOpenForSubmission)
{
<p>
    DDD East Anglia is open for session submission, @Html.ActionLink("click here to submit a session", "Create", "Session", null, new { @class = "submit-session"}).
</P>
}
else
{
<p>
    Session submission is closed.
</p>
}

<table>
    <tr>
        <th>
            Speaker
        </th>
        <th>
            Title
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Sessions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionTitle)
            </td>
        
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.SessionId })
                @if (User.Identity.Name == item.SpeakerUserName)
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink("Edit", "Edit", new { id = item.SessionId }) @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.SessionId })
                }
            </td>
        </tr>
    }

</table>
