@using DDDEastAnglia.DataAccess
@using DDDEastAnglia.DataAccess.EntityFramework
@using DDDEastAnglia.Models
@model SessionIndexModel


@{
    ViewBag.Title = "Sessions";
}

@Html.Partial("_SearchBox", new ViewDataDictionary {{"containerClass", ".session-details"}})

<h2>Sessions</h2>

@if (Model.IsOpenForSubmission)
{
    <p>Session submission is now open. If you would like to speak at @Html.DDDEastAnglia(), please @Html.ActionLink("submit a session", "Create", "Session", null, new { @class = "submit-session" }).</p>
}

@foreach (var session in Model.Sessions)
{
    Html.RenderPartial("_SessionDetailsPartial", session);
}

@section scripts
{
    @Scripts.Render("~/bundles/voting")
    @Scripts.Render("~/bundles/searchfilter")
}
