@model DDDEastAnglia.Models.SessionIndexModel

@{
    ViewBag.Title = "Sessions";
}

<h2>Sessions</h2>
@if (Model.IsOpenForSubmission)
{
<p>
    DDD East Anglia is open for session submission, @Html.ActionLink("click here to submit a session", "Create", "Session", null, new { @class = "submit-session"}).
</P>
}
else
{
<p>
    Session submission is closed.
</p>
}
@if (Model.IsOpenForVoting)
{
    <p>
        You have @Model.RemainingVotes remaining.
    </p>
}
<table>
    <tr>
        <th>
            Speaker
        </th>
        <th>
            Title
        </th>
        @if (Model.IsOpenForVoting)
        {
            <th>
                Vote
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model.Sessions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionTitle)
            </td>
            @if (Model.IsOpenForVoting)
            {
                if (item.HasBeenVotedForByUser)
                {
                     <td>
                         @using (Html.BeginForm("ReleaseVote"))
                         {
                             <button type="submit">Release</button>
                         }
                     </td>
                }
                else if (Model.UserHasVotesLeft)
                {
                     <td>
                         @using (Html.BeginForm("Vote"))
                         {
                             <button type="submit">Vote</button>
                         }
                     </td>
                }
                else
                {
                     <td>
                        No votes left
                     </td>
                }
            }
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.SessionId })
                @if (User.Identity.Name == item.SpeakerUserName)
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink("Edit", "Edit", new { id = item.SessionId }) @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.SessionId })
                }
            </td>
        </tr>
    }

</table>
