@model IEnumerable<DDDEastAnglia.Models.LoginMethodViewModel>

@if (Model.Any())
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
    
        <fieldset id="socialLoginList">
            <legend>Use an external service to log in</legend>
            <p>
                @foreach (var externalLogin in Model)
                {
                    <button type="submit" class="btn" name="provider" 
                            value="@externalLogin.ProviderName" 
                            title="Log in using @externalLogin.Name"><i class="@externalLogin.Icon"></i> @externalLogin.Name</button>
                }
            </p>
        </fieldset>
    }
}
