@model IEnumerable<DDDEastAnglia.Models.LoginMethodViewModel>

@if (Model.Any())
{
    foreach (var loginMethod in Model)
    {
        <div>
            @using (Html.BeginForm("DisassociateLogin", "Account"))
            {
                <span style="line-height: 30px;">
                    <i class="@loginMethod.Icon"></i> @loginMethod.Name
                </span>
                
                <span style="position: absolute; left: 150px;">
                    @Html.AntiForgeryToken()
                    @Html.Hidden("name", loginMethod.Name)
                    @Html.Hidden("provider", loginMethod.ProviderName)
                    @Html.Hidden("providerUserId", loginMethod.ProviderUserId)
                    <button type="submit" @(ViewBag.DisableRemoveButtons ? "" : "disabled='disabled'")
                            class="btn btn-danger"
                            title="@(ViewBag.DisableRemoveButtons ? "Remove this login from your account" : "This login cannot be removed because it is your primary login method")">
                        <i class="icon-remove"></i> Remove
                    </button>

                </span>
            }
        </div>
    }
}
