@model IEnumerable<DDDEastAnglia.Models.LoginMethodViewModel>

@if (Model.Any())
{
    foreach (var loginMethod in Model)
    {
        <div>
            @using (Html.BeginForm("DisassociateLogin", "Account"))
            {
                <span style="line-height: 30px;">
                    <i class="@loginMethod.Icon"></i> @loginMethod.Name
                </span>
                
                if (ViewBag.ShowRemoveButtons)
                {
                    <span style="position: absolute; left: 150px;">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("provider", loginMethod.ProviderName)
                        @Html.Hidden("providerUserId", loginMethod.ProviderUserId)
                        <input type="submit" class="btn btn-danger" value="Remove" title="Remove this login from your account" />
                    </span>
                }
            }
        </div>
    }
}
