@model DDDEastAnglia.Models.LocalPasswordModel

<h2>Change your password</h2>

@if (!ViewBag.HasLocalAccount)
{
    <p>You do not have a local account, so you cannot change your password.</p>
}
else
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">@ViewBag.Message</div>
    }
    
    using (Html.BeginForm("ChangePassword", "Account")) 
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>Please enter the following details</legend>

            <div>
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div>
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
            <div>
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div>
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div>
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        
            <p>
                @Html.ValidationSummary(true)
            </p>

            <input type="submit" class="btn btn-primary" value="Change password" />
        </fieldset>
    }
}