@model DDDEastAnglia.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}

<h2>Log in</h2>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", FormMethod.Post, new { @class = "form-horizontal", ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Associate your @ViewBag.ProviderDisplayName account</legend>

        @Html.Partial("_GoogleLoginWarning")

        <p>
            You have successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
            Please enter the following required information and click the Register button to finish logging in.
        </p>

        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.ExternalLoginData)

        <div class="control-group">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m => m.EmailAddress, new { type = "email" })
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
    </fieldset>
}

@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}
