@model DDDEastAnglia.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}

<h2>Log in</h2>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", FormMethod.Post, new { @class = "form-horizontal", ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Associate your @ViewBag.ProviderDisplayName account</legend>

        @if (string.Equals("google", ViewBag.ProviderDisplayName, StringComparison.InvariantCultureIgnoreCase))
        {
            <div class="alert alert-danger">
                <p>
                    <strong>tl;dr</strong>
                    <br />
                    If you were expecting to be logged in using Google but have got here instead,
                    please <a href="mailto:loginfix@dddeastanglia.com?subject=Failed Google login&body=@ViewBag.ProviderUserId">contact us</a> stating your
                    <strong>email address</strong> and this number: <strong>@ViewBag.ProviderUserId</strong>
                    and we will fix your login for you.
                </p>

                <p>
                    <strong>Longer Version</strong>
                    <br />
                    Google have recently <a href="https://support.google.com/accounts/answer/6206245?p=openid&rd=1">turned off</a>
                    their OpenID 2.0 authentication. In doing so, the Google login for @Html.DDDEastAnglia() was broken. This has
                    now been fixed to use Google's new OAuth2 login mechanism. Unfortunately, there does not appear to be a way to
                    automatically upgrade user accounts from one form to the other. By giving us the info requested above, we can
                    manually upgrade your account, allowing you to log into your existing profile.
                    <br/>
                    <br/>
                    Sorry for the hassle.
                </p>
            </div>
        }

        <p>
            You have successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
            Please enter the following required information and click the Register button to finish logging in.
        </p>

        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.ExternalLoginData)

        <div class="control-group">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m => m.EmailAddress, new { type = "email" })
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
    </fieldset>
}

@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}
