@model DDDEastAnglia.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}

<h2>Log in</h2>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) 
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Associate your @ViewBag.ProviderDisplayName account</legend>
        <p>
            You have successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
            Please enter the following required information and click the Register button to finish logging in.
        </p>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress)
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        @Html.ValidationSummary(true)
        <input type="submit" class="btn" value="Register" />
    </fieldset>
}

@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}
