@model DDDEastAnglia.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<h2>Please log in to continue</h2>

<section class="social" id="socialLoginForm">
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) 
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Use a local account to log in</legend>

        <div>
            @Html.LabelFor(m => m.UserName)
        </div>
        <div class="input-append">
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
            <span class="add-on">required</span>
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="input-append">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
            <span class="add-on">required</span>
        </div>
        <div>
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox inline" })
        </div>
        
        <p>
            @Html.ValidationSummary(true)
        </p>

        <input type="submit" class="btn" value="Log in" />
    </fieldset>

    <div id="registerLink">
        <p>If you do not already have one, please @Html.ActionLink("register for an account", "Register").</p>
    </div>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
