@model DDDEastAnglia.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Create a local account</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal"})) 
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Please fill in the required information below</legend>

        @Html.ValidationSummary(true)

        <div class="control-group">
            @Html.LabelFor(m => m.FullName, new { @class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m => m.FullName)
                @Html.ValidationMessageFor(m => m.FullName)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m => m.EmailAddress)
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label"})
            <div class="controls">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label"})
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
            <input type="submit" class="btn" value="Register" />
        </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
