@model DDDEastAnglia.Areas.Admin.Models.RoleModel

@section header
{
    @Styles.Render("~/Content/admin")
}

<div style="height: 50px;">
    
</div>

@using (Html.BeginForm("Manage", "Role"))
{
    @Html.HiddenFor(r => Model.RoleName)
    <div>
        Manage Role: @Model.RoleName
    </div>
    <div id="membersTable" style="height: 300px; overflow: scroll; width: 500px;">
        <table class="table table-striped table-hover table-condensed">
            <tr>
                <th>Username</th>
                <th style="text-align:center">Member?</th>
            </tr>
            @for (int i = 0; i < Model.roleUsers.Keys.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(m => Model.roleUsers.Values[i].UserId)@Html.HiddenFor(m => Model.roleUsers.Values[i].Username)
                        @Model.roleUsers.Values[i].Username
                    </td>
                    <td style="text-align:center">@Html.CheckBoxFor(m => Model.roleUsers.Values[i].IsMember)</td>
                </tr>
  
            }

        </table>
    </div>
    <input type="submit" value="Save" />
}
<a href="@Url.Action("Index", "Role")">Back to list</a>
