@using DDDEastAnglia.Areas.Admin.Models
@model DDDEastAnglia.Areas.Admin.Models.RoleModel

@section header
{
    @Styles.Render("~/Content/admin")
}

<h2>Manage</h2>

@using (Html.BeginForm("Manage", "Role"))
{
    @Html.HiddenFor(r => Model.RoleName)
    <div>
        @Model.RoleName
    </div>
    <table>
        @for (int i = 0; i < Model.roleUsers.Keys.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(m => Model.roleUsers.Values[i].UserId)@Html.HiddenFor(m => Model.roleUsers.Values[i].Username)
                    @Model.roleUsers.Values[i].Username
                </td>
                <td>@Html.CheckBoxFor(m => Model.roleUsers.Values[i].IsMember)</td>
            </tr>
  
        }

    </table>
    <input type="submit" value="Save"/>
}
<a href="@Url.Action("Index", "Role")">Back to list</a>