@{
    ViewBag.Title = "Accommodation";
}

<h2>@ViewBag.Title</h2>

<p>We would like to encourage attendees and speakers to use the <a href="https://goo.gl/maps/1FMVo">Travelodge on Newmarket Road.</a></p>

<div class="hotel-details primary-hotel">
    <a href="http://www.travelodge.co.uk/hotels/577/Cambridge-Newmarket-Road-hotel">
        <img src="@Url.Content("~/Images/hotels/travelodge-newmarket-road.jpg")" />
    </a>

    <p>
        <a href="http://www.travelodge.co.uk/hotels/577/Cambridge-Newmarket-Road-hotel">Travelodge - Newmarket Road</a><br />
        180-190 Newmarket Road<br />
        CB5 8HF
    </p>

    <p class="telephone-number"><span>Tel:</span>0871 984 8484</p>

    <div class="clearfix"></div>
</div>

<p>
    If the Newmarket Road Travelodge is full, alternatives include:
</p>

<div class="hotel-details">
    <a href="http://www.travelodge.co.uk/hotels/512/Cambridge-Orchard-Park-hotel">
        <img src="@Url.Content("~/Images/hotels/travelodge-orchard-park.jpg")" />
    </a>

    <p>
        <a href="http://www.travelodge.co.uk/hotels/512/Cambridge-Orchard-Park-hotel">Travelodge - Orchard Park</a><br />
        Chieftain Way<br />
        Orchard Park<br />
        Kings Hedges Road<br />
        Cambridge<br />
        CB4 2WR
    </p>

    <p class="telephone-number"><span>Tel:</span>0871 984 6481</p>

    <div class="clearfix"></div>
</div>

<div class="hotel-details">
    <a href="http://www.travelodge.co.uk/hotels/255/Cambridge-Central-hotel">
        <img src="@Url.Content("~/Images/hotels/travelodge-cambridge-central.jpg")" />
    </a>

    <p>
        <a href="http://www.travelodge.co.uk/hotels/255/Cambridge-Central-hotel">Travelodge - Cambridge Central</a><br />
        Cambridge Leisure Park<br />
        Clifton Way<br />
        Cambridge<br />
        CB1 7DY
    </p>

    <p class="telephone-number"><span>Tel:</span>0871 984 6101</p>

    <div class="clearfix"></div>
</div>

<div class="hotel-details">
    <a href="http://www.premierinn.com/en/checkHotel/CAMBAR/cambridge-a14,-j32">
        <img src="@Url.Content("~/Images/hotels/premierinn-a14-j32.jpg")" />
    </a>

    <p>
        <a href="http://www.premierinn.com/en/checkHotel/CAMBAR/cambridge-a14,-j32">Premier Inn - Cambridge (A14, J32)</a><br />
        Ring Fort Road<br />
        Cambridge<br />
        CB4 2GR
    </p>

    <p class="telephone-number"><span>Tel:</span>0871 527 8186</p>

    <div class="clearfix"></div>
</div>

<div class="hotel-details">
    <a href="http://www.devere.co.uk/locations/university-arms.html">
        <img src="@Url.Content("~/Images/hotels/university-arms.jpg")" />
    </a>

    <p>
        <a href="http://www.devere.co.uk/locations/university-arms.html">De Vere University Arms Hotel</a><br />
        Regent Street<br />
        CB2 1AD
    </p>

    <p class="telephone-number"><span>Tel:</span>01223 273000</p>

    <div class="clearfix"></div>
</div>

<div class="hotel-details">
    <a href="http://www.doubletreecambridge.com">
        <img src="@Url.Content("~/Images/hotels/doubletree-hilton.jpg")" />
    </a>

    <p>
        <a href="http://www.doubletreecambridge.com">Doubletree by Hilton</a><br />
        Granta Place<br />
        Mill Lnae<br />
        Cambridge<br />
        CB2 1RT
    </p>

    <p class="telephone-number"><span>Tel:</span>01223 259988</p>

    <div class="clearfix"></div>
</div>

<div class="hotel-details">
    <a href="http://www.thevarsityhotel.co.uk">
        <img src="@Url.Content("~/Images/hotels/varsity.jpg")" />
    </a>

    <p>
        <a href="http://www.thevarsityhotel.co.uk">The Varsity Hotel &amp; Spa</a><br />
        Thompson's Lane (Off Bridge Street)<br />
        Cambridge<br />
        CB5 8AQ
    </p>

    <p class="telephone-number"><span>Tel:</span>01223 306030</p>

    <div class="clearfix"></div>
</div>
