@{
    ViewBag.Title = "Agenda";
}

@Styles.Render("~/Content/Site_print")

<style>
    hr {
        height: 1px;
        background: black;
        border: 1px;
        margin: 5px 0;
    }

    table, th, td {
        border: 1px solid black;
    }

    tr > td:first-child {
        font-weight: bold;
    }

    th, td {
        padding: 4px;
        vertical-align: top;
        width: 19%;
    }

    .timeCell {
        text-align: center;
        width: 5%;
    }

    .nonSession {
        background-color: #f5f5f5;
    }

    .nonSession td img {
        vertical-align: middle;
        height: auto;
        width: auto;
    }

    .sessionTitle {
        font-weight: bold;
    }

    .speakerName {
        font-size: smaller;
    }
</style>

<h2>@ViewBag.Title</h2>

<table>
<tr>
    <th class="timeCell"/>
    <th>Room 1</th>
    <th>Room 2</th>
    <th>Room 3</th>
    <th>Room 7</th>
    <th>Room 8</th>
</tr>

<tr class="nonSession">
    <td class="timeCell">08:30</td>
    <td colspan="5">
        Registration
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">09:00</td>
    <td colspan="5">
        Welcome &amp; Housekeeping
    </td>
</tr>

<tr>
    <td class="timeCell">09:15</td>
    <td>
        @Html.SessionLink(, ".NET Core in the Real World")
        <br />
        @Html.SpeakerLink(, "Joe Stead")
    </td>
    <td>
        @Html.SessionLink(, "Making Enabling Apps for Disabled People in Xamarin")
        <br />
        @Html.SpeakerLink(, "Dennie Declercq")
    </td>
    <td>
        @Html.SessionLink(, "An Introduction to GraphQL")
        <br />
        @Html.SpeakerLink(, "Sam Hogarth")
    </td>
    <td>
        @Html.SessionLink(, "HALT! Who Goes There?")
        <br/>
        @Html.SpeakerLink(, "Robin Minto")
    </td>
    <td>
        @Html.SessionLink(, "User Story Mapping for Beginners")
        <br />
        @Html.SpeakerLink(, "Colin Angus Mackay")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">10:15</td>
    <td colspan="5">
        Break
    </td>
</tr>

<tr>
    <td class="timeCell">10:35</td>
    <td>
        @Html.SessionLink(, "How to Parse a File")
        <br />
        @Html.SpeakerLink(, "Matt Ellis")
    </td>
    <td>
        @Html.SessionLink(, "The Power of Mentoring")
        <br />
        @Html.SpeakerLink(, "Simone Cuomo")
    </td>
    <td>
        @Html.SessionLink(, "Creating a .NET Renaissance")
        <br />
        @Html.SpeakerLink(, "Ian Cooper")
    </td>
    <td>
        @Html.SessionLink(, "Async in C# - The Good, The Bad and The Ugly")
        <br />
        @Html.SpeakerLink(, "Stuart Lang")
    </td>
    <td>
        @Html.SessionLink(, "Testing Demystified")
        <br />
        @Html.SpeakerLink(, "Karo Stoltzenburg")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">11:35</td>
    <td colspan="5">
        Break
    </td>
</tr>

<tr>
    <td class="timeCell">11:55</td>
    <td>
        @Html.SessionLink(, "Microservices - What I've Learned After a Year of Building a System")
        <br />
        @Html.SpeakerLink(, "Nathan Gloyn")
    </td>
    <td>
        @Html.SessionLink(, "The Pursuit of APIness: The Secret To Happy Code")
        <br />
        @Html.SpeakerLink(, "Dylan Beattie")
    </td>
    <td>
        @Html.SessionLink(, "You Build It, You Run It")
        <br />
        @Html.SpeakerLink(, "Chris O'Dell")
    </td>
    <td>
        @Html.SessionLink(, "Introduction to Event Sourcing")
        <br />
        @Html.SpeakerLink(, "Duncan Jones")
    </td>
    <td>
        @Html.SessionLink(, "Monitoring-First Development")
        <br />
        @Html.SpeakerLink(, "Benji Weber")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">12:55</td>
    <td colspan="5">
        Lunch
        <hr/>
        Grok talks
    </td>
</tr>

<tr>
    <td class="timeCell">14:00</td>
    <td>
        @Html.SessionLink(, "Breaking the Common Myths About Artificial Intelligence")
        <br />
        @Html.SpeakerLink(, "Galiya Warrier")
    </td>
    <td>
        @Html.SessionLink(, "Visual Note-taking Workshop")
        <br />
        @Html.SpeakerLink(, "Ian Johnson")
    </td>
    <td>
        @Html.SessionLink(, "Building a Better Web API Architecture Using CQRS")
        <br />
        @Html.SpeakerLink(, "Joseph Woodward")
    </td>
    <td>
        @Html.SessionLink(, "Speedy Git: Personal Productivity")
        <br />
        @Html.SpeakerLink(, "Paul McGrath")
    </td>
    <td>
        @Html.SessionLink(, "Cultivating Code: SIx Things Gardening Has Taught Me About Legacy Code")
        <br />
        @Html.SpeakerLink(, "Ceri Shaw")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">15:00</td>
    <td colspan="5">
        Break
    </td>
</tr>

<tr>
    <td class="timeCell">15:20</td>
    <td>
        @Html.SessionLink(, "Is EF Core Ready For Primetime?")
        <br />
        @Html.SpeakerLink(, "Sandeep Singh")
    </td>
    <td>
        @Html.SessionLink(, "How To Be A Rock Star Developer")
        <br />
        @Html.SpeakerLink(, "Phil Trelford")
    </td>
    <td>
        @Html.SessionLink(, "Applied Machine Learning #1 - Counting Your Chickens")
        <br />
        @Html.SpeakerLink(, "Gary Short")
    </td>
    <td>
        @Html.SessionLink(, "Strategic Domain-Driven Design")
        <br/>
        @Html.SpeakerLink(, "Ian Russell")
    </td>
    <td>
        @Html.SessionLink(, "Client-side Web Performance For Back-End Developers")
        <br />
        @Html.SpeakerLink(, "Bart Read")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">16:20</td>
    <td colspan="5">
        Break
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">16:30</td>
    <td colspan="5">Wrap-up</td>
</tr>

<tr class="nonSession">
    <td class="timeCell">17:00</td>
    <td colspan="5">Close</td>
</tr>
</table>

<br/>
<br/>
