@{
    ViewBag.Title = "Agenda";
}

@Styles.Render("~/Content/Site_print")

<style>
    table, th, td {
        border: 1px solid black;
    }

    tr > td:first-child {
        font-weight: bold;
    }

    th, td {
        padding: 4px;
        vertical-align: top;
        width: 32%;
    }

    .timeCell {
        width: 4%;
    }

    .nonSession {
        background-color: #f5f5f5;
    }

    .sessionTitle {
        font-weight: bold;
    }

    .speakerName {
        font-size: smaller;
    }
</style>

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th class="timeCell"/>
        <th>Room 1</th>
        <th>Room 2</th>
        <th>Room 3</th>
        <th>Room 4</th>
        <th>Room 5</th>
    </tr>

    <tr class="nonSession">
        <td class="timeCell">08:30</td>
        <td colspan="5">Registration, tea/coffee/pastries (sponsored by [logo])</td>
    </tr>
    
    <tr class="nonSession">
        <td class="timeCell">09:00</td>
        <td colspan="5">Welcome &amp; Housekeeping</td>
    </tr>
    
    <tr>
        <td class="timeCell">09:15</td>
        <td>
            @Html.ActionLink("OWIN, Katana and ASP.NET vNext: eliminating the pain of IIS", "Details", "Session", new { id = 4124}, new { @class = "sessionTitle" })
             <br/>
            "David Simner"
        </td>
        <td>
            @Html.ActionLink("An Introduction to SOLID", "Details", "Session", new {id = 101}, new { @class = "sessionTitle" })
             />
            Colin Mackay
        </td>
        <td>
            @Html.ActionLink("An Actor's Life for Me – An introduction to the TPL Dataflow Library and asynchronous programming blocks", "Details", "Session", new {id=1109}, new { @class = "sessionTitle" })
            <br />
            Liam Westley
        </td>
        <td>
            @Html.ActionLink("A Unit Testing Swiss Army Knife", "Details", "Session", new {id = 2117}, new { @class = "sessionTitle" })
            <br />
            Adam Kosinski
        </td>
        <td>
            @Html.ActionLink("Taking your craft seriously with F#", "Details", "Session", new {id=3132}, new { @class = "sessionTitle" })
            <br />
            Tomas Petricek
        </td>
    </tr>

    <tr class="nonSession">
        <td class="timeCell">10:15</td>
        <td colspan="5">Break</td>
    </tr>
    
    <tr>
        <td class="timeCell">10:30</td>
        <td>
            @Html.ActionLink("Functional DDD","Details","Session", new {id=1108}, new { @class = "sessionTitle" })
             />
            Alessandro Melchiori
        </td>
        <td>
            @Html.ActionLink("Building Skynet: Machine learning for software developers","Details","Session", new {id=2107}, new { @class = "sessionTitle" })
            <br />
            Anthony Brown
        </td>
        <td>
            @Html.ActionLink("Embracing DevOps at JUST EAT, within a Microsoft platform", "Details", "Session", new {id=2115}, new { @class = "sessionTitle" })
            <br />
            Pete Mounce
        </td>
        <td>
            @Html.ActionLink("Super charging your JavaScript development experience", "Details", "Session", new {id = 102}, new { @class = "sessionTitle" })
            <br />
            Chris Canal
        </td>
        <td>
            @Html.ActionLink("Beyond responsive design - UI for the modern web application", "Details", "Session", new { id = 1106 }, new { @class = "sessionTitle" })
            <br />
            Pete Smith
        </td>
    </tr>
    
    <tr class="nonSession">
        <td class="timeCell">11:30</td>
        <td colspan="5">Break</td>
    </tr>
    
    <tr>
        <td class="timeCell">11:45</td>
        <td>
            @Html.ActionLink("So you want to be a Tech Lead? 10 things you need to do to succeed.", "Details", "Session", new { id = 3139 }, new { @class = "sessionTitle" })
            <br />
            Joel Hammond-Turner
        </td>
        <td>
            @Html.ActionLink("Decoupling from ASP.NET - Hexagonal Architectures in .NET", "Details", "Session", new { id = 1107 }, new { @class = "sessionTitle" })
            <br />
            Ian Cooper
        </td>
        <td>
            @Html.ActionLink("Performance is a Feature!", "Details", "Session", new { id = 3140 }, new { @class = "sessionTitle" })
            <br />
            Matt Warren
        </td>
        <td>
            @Html.ActionLink("All Your Types Are Belong To Us", "Details", "Session", new { id = 1114 }, new { @class = "sessionTitle" })
             />
            Phil Trelford
        </td>
        <td>
            @Html.ActionLink("Disney-Driven Development", "Details", "Session", new { id = 2113 }, new { @class = "sessionTitle" })
            <br />
            Melinda Seckington
        </td>
    </tr>
    
    <tr class="nonSession">
        <td class="timeCell">12:45</td>
        <td colspan="5">Lunch, Grok Talks</td>
    </tr>
    
    <tr>
        <td class="timeCell">14:00</td>
        <td>
            @Html.ActionLink("The vNext Big Thing", "Details", "Session", new { id = 3125 }, new { @class = "sessionTitle" })
            <br />
            Mark Rendle
        </td>
        <td>
            @Html.ActionLink("NServiceBus: introduction to a message based distributed architecture", "Details", "Session", new { id = 107 }, new { @class = "sessionTitle" })
            <br />
            Mauro Servienti
        </td>
        <td>
            @Html.ActionLink("Keeping it responsive - cross-platform MVVM with ReactiveUI", "Details", "Session", new { id = 2109 }, new { @class = "sessionTitle" })
            <br />
            Sam Hogarth
        </td>
        <td>
            @Html.ActionLink("Github Automation", "Details", "Session", new { id = 104 }, new { @class = "sessionTitle" })
            <br />
            Forbes Lindsay
        </td>
        <td>
            @Html.ActionLink("Data Science for Fun and Profit", "Details", "Session", new { id = 3127 }, new { @class = "sessionTitle" })
            <br />
            Gary Short
        </td>
    </tr>

    <tr class="nonSession">
        <td class="timeCell">15:00</td>
        <td colspan="5">Break</td>
    </tr>
    
    <tr>
        <td class="timeCell">15:15</td>
        <td>
            @Html.ActionLink("Architecture - why so serious?", "Details", "Session", new { id = 4133 }, new { @class = "sessionTitle" })
            <br />
            Barbara Fusinska
        </td>
        <td>
            @Html.ActionLink("What Developers Need To Know About Visual Design", "Details", "Session", new { id = 2111 }, new { @class = "sessionTitle" })
            <br />
            Ben Hall
        </td>
        <td>
            @Html.ActionLink("Using F# for Line of Business Applications", "Details", "Session", new { id = 108 }, new { @class = "sessionTitle" })
            <br />
            Ian Russell
        </td>
        <td>
            @Html.ActionLink("Scream If You Want To Go Faster", "Details", "Session", new { id = 4135 }, new { @class = "sessionTitle" })
            <br />
            Bart Read
        </td>
        <td>
            @Html.ActionLink("Build Great Software for the Enterprise and Love it", "Details", "Session", new { id = 3129 }, new { @class = "sessionTitle" })
            <br />
            Kendall Miller
        </td>
    </tr>

    <tr class="nonSession">
        <td class="timeCell">16:15</td>
        <td colspan="5">Break</td>
    </tr>
    
    <tr class="nonSession">
        <td class="timeCell">16:30</td>
        <td colspan="5">Wrap-up</td>
    </tr>
    
    <tr class="nonSession">
        <td class="timeCell">17:00</td>
        <td colspan="5">Close</td>
    </tr>
</table>
