@model DDDEastAnglia.Models.Agenda

@{
    ViewBag.Title = "Agenda";
}

@Styles.Render("~/Content/Site_print")

<style>
    hr {
        height: 1px;
        background: black;
        border: 1px;
        margin: 5px 0;
    }

    table, th, td {
        border: 1px solid black;
    }

    tr > td:first-child {
        font-weight: bold;
    }

    th, td {
        padding: 4px;
        vertical-align: top;
        width: 19%;
    }

    .timeCell {
        text-align: center;
        width: 5%;
    }

    .nonSession {
        background-color: #f5f5f5;
    }

    .nonSession td img {
        vertical-align: middle;
        height: auto;
        width: auto;
    }

    .sessionTitle {
        font-weight: bold;
    }

    .speakerName {
        font-size: smaller;
    }
</style>

<h2>@ViewBag.Title</h2>

<table>
<tr>
    <th class="timeCell"/>
    <th>Track 1</th>
    <th>Track 2</th>
    <th>Track 3</th>
    <th>Track 4</th>
</tr>

<tr class="nonSession">
    <td class="timeCell">09:00</td>
    <td colspan="4">
        Welcome &amp; Housekeeping
    </td>
</tr>

<tr>
    <td class="timeCell">09:10</td>
    <td>
        @Model.SessionDetails(Html, 2184)
    </td>
    <td>
        @Model.SessionDetails(Html, 2136)
    </td>
    <td>
        @Model.SessionDetails(Html, 2174)
    </td>
    <td>
        @Model.SessionDetails(Html, 2142)
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">10:10</td>
    <td colspan="4">
        Break.
    </td>
</tr>

<tr>
    <td class="timeCell">10:30</td>
    <td>
        @Model.SessionDetails(Html, 2163)
    </td>
    <td>
        @Model.SessionDetails(Html, 2164)
    </td>
    <td>
        @Model.SessionDetails(Html, 2153)
    </td>
    <td>
        @Model.SessionDetails(Html, 2146)
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">11:00</td>
    <td colspan="4">
        Break
    </td>
</tr>

<tr>
    <td class="timeCell">11:15</td>
    <td>
        @Model.SessionDetails(Html, 2188)
    </td>
    <td>
        @Model.SessionDetails(Html, 2187)
    </td>
    <td>
        @Model.SessionDetails(Html, 2152)
    </td>
    <td>
        @Model.SessionDetails(Html, 2178)
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">12:15</td>
    <td colspan="4">
        Lunch 
        <hr/>
        Grok talks
    </td>
</tr>

<tr>
    <td class="timeCell">13:15</td>
    <td>
        @Model.SessionDetails(Html, 2171)
    </td>
    <td>
        @Model.SessionDetails(Html, 2179)
    </td>
    <td>
        @Model.SessionDetails(Html, 2135)
    </td>
    <td>
        @Model.SessionDetails(Html, 2160)
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">14:15</td>
    <td colspan="4">
        Break
    </td>
</tr>

<tr>
    <td class="timeCell">14:30</td>
    <td>
        @Model.SessionDetails(Html, 2130)
    </td>
    <td>
        @Model.SessionDetails(Html, 2181)
    </td>
    <td>
        @Model.SessionDetails(Html, 2165)
    </td>
    <td>
        @Model.SessionDetails(Html, 2169)
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">15:00</td>
    <td colspan="4">
        Break
    </td>
</tr>

    <tr>
        <td class="timeCell">15:20</td>
        <td>
            @Model.SessionDetails(Html, 2130)
        </td>
        <td>
            @Model.SessionDetails(Html, 2181)
        </td>
        <td>
            @Model.SessionDetails(Html, 2165)
        </td>
        <td>
            @Model.SessionDetails(Html, 2169)
        </td>
    </tr>

    <tr class="nonSession">
    <td class="timeCell">16:20</td>
    <td colspan="4">Break</td>
</tr>
    <tr class="nonSession">
        <td class="timeCell">16:30</td>
        <td colspan="4">Wrap-up</td>
    </tr>

<tr class="nonSession">
    <td class="timeCell">17:00</td>
    <td colspan="4">Close</td>
</tr>
</table>

<br/>
<br/>
