@{
    ViewBag.Title = "Agenda";
}

@Styles.Render("~/Content/Site_print")

<style>
    table, th, td{
        border: 1px solid black;
                 }

    tr > td:first-child{
        font-weight: bold;
                       }

    th, td{
        padding: 4px;
        vertical-align: top;
        width: 32%;
          }

    .timeCell{
        width: 4%;
             }

    .nonSession{
        background-color: #f5f5f5;
               }

    .sessionTitle{
        font-weight: bold;
                 }

    .speakerName{
        font-size: smaller;
                }
</style>

<h2>@ViewBag.Title</h2>

<table>
<tr>
    <th class="timeCell"/>
    <th>Room 1</th>
    <th>Room 2</th>
    <th>Room 3</th>
    <th>Room 4</th>
    <th>Room 5</th>
</tr>

<tr class="nonSession">
    <td class="timeCell">08:30</td>
    <td colspan="5">Registration, tea/coffee/pastries (sponsored by <a href="http://careers.comparethemarket.com">Compare the Market</a>)</td>
</tr>
    
<tr class="nonSession">
    <td class="timeCell">09:00</td>
    <td colspan="5">Welcome &amp; Housekeeping</td>
</tr>
    
<tr>
    <td class="timeCell">09:15</td>
    <td>
        @Html.SessionLink(4124, "OWIN, Katana and ASP.NET vNext: eliminating the pain of IIS")
        <br/>
        @Html.SpeakerLink(11,"David Simner")
    </td>
    <td>
        @Html.SessionLink(104,"Github Automation")
        <br />
        @Html.SpeakerLink(303, "Forbes Lindsay")
    </td>
    <td>
        @Html.SessionLink(1109, "An Actor's Life for Me – An introduction to the TPL Dataflow Library and asynchronous programming blocks")
        <br />
        @Html.SpeakerLink(62,"Liam Westley")
    </td>
    <td>
        @Html.SessionLink(2117, "A Unit Testing Swiss Army Knife")
        <br />
        @Html.SpeakerLink(3324, "Adam Kosinski")
    </td>
    <td>
        @Html.SessionLink(3132, "Taking your craft seriously with F#")
        <br />
        @Html.SpeakerLink(4332, "Tomas Petricek")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">10:15</td>
    <td colspan="5">Break</td>
</tr>
    
<tr>
    <td class="timeCell">10:35</td>
    <td>
        @Html.SessionLink(1108, "Functional DDD")
        <br />
        @Html.SpeakerLink(2312, "Alessandro Melchiori")
    </td>
    <td>
        @Html.SessionLink(2107, "Building Skynet: Machine learning for software developers")
        <br />
        @Html.SpeakerLink(293,"Anthony Brown")
    </td>
    <td>
        @Html.SessionLink(2115, "Embracing DevOps at JUST EAT, within a Microsoft platform")
        <br />
        @Html.SpeakerLink(3323, "Peter Mounce")
    </td>
    <td>
        @Html.SessionLink(102, "Super charging your JavaScript development experience")
        <br />
        @Html.SpeakerLink(302, "Chris Canal")
    </td>
    <td>
        @Html.SessionLink(1106, "Beyond responsive design - UI for the modern web application")
        <br />
        @Html.SpeakerLink(1313, "Pete Smith")
    </td>
</tr>
    
<tr class="nonSession">
    <td class="timeCell">11:35</td>
    <td colspan="5">Break</td>
</tr>
    
<tr>
    <td class="timeCell">11:55</td>
    <td>
        @Html.SessionLink(3139, "So you want to be a Tech Lead? 10 things you need to do to succeed.")
        <br />
        @Html.SpeakerLink(23, "Joel Hammond-Turner")
    </td>
    <td>
        @Html.SessionLink(1107, "Decoupling from ASP.NET - Hexagonal Architectures in .NET")
        <br />
        @Html.SpeakerLink(2311, "Ian Cooper")
    </td>
    <td>
        @Html.SessionLink(3140, "Performance is a Feature!")
        <br />
        @Html.SpeakerLink(2316, "Matt Warren")
    </td>
    <td>
        @Html.SessionLink(1114, "All Your Types Are Belong To Us")
        <br />
        @Html.SpeakerLink(34, "Phil Trelford")
    </td>
    <td>
        @Html.SessionLink(2113, "Disney-Driven Development")
        <br />
        @Html.SpeakerLink(3320, "Melinda Seckington")
    </td>
</tr>
    
<tr class="nonSession">
    <td class="timeCell">12:55</td>
    <td colspan="2" style="text-align:center">Lunch</td>
    <td colspan="3">Grok Talks (sponsored by <a href="http://huddle.com">Huddle</a>)</td>
</tr>
    
    <tr>
        <td class="timeCell">14:00</td>
        <td>
            @Html.SessionLink(3125, "The vNext Big Thing")
            <br />
            @Html.SpeakerLink(48, "Mark Rendle")
        </td>
        <td>
            @Html.SessionLink(107, "NServiceBus: introduction to a message based distributed architecture")
            <br />
            @Html.SpeakerLink(309, "Mauro Servienti")
        </td>
        <td>
            @Html.SessionLink(2109, "Keeping it responsive - cross-platform MVVM with ReactiveUI")
            <br />
            @Html.SpeakerLink(2314, "Sam Hogarth")
        </td>
        <td>
            @Html.SessionLink(3119, "A Brief Introduction to Making your own (Internet of Things) Thing")
            <br />
            @Html.SpeakerLink(4328, "Stephen Harrison")
        </td>
        <td>
            @Html.SessionLink(3127, "Data Science for Fun and Profit")
            <br />
            @Html.SpeakerLink(30, "Gary Short")
        </td>
    </tr>

<tr class="nonSession">
    <td class="timeCell">15:00</td>
    <td colspan="5">Break</td>
</tr>
    
<tr>
    <td class="timeCell">15:20</td>
    <td>
        @Html.SessionLink(4133, "Architecture - why so serious?")
        <br />
        @Html.SpeakerLink(3322, "Barbara Fusinska")


    </td>
    <td>
        @Html.SessionLink(2111, "What Developers Need To Know About Visual Design")
    <br />
        @Html.SpeakerLink(3319, "Ben Hall")
        </td>
    <td>
        @Html.SessionLink(108, "Using F# for Line of Business Applications")
        <br />
        @Html.SpeakerLink(53, "Ian Russell")
    </td>
    <td>
        @Html.SessionLink(4135, "Scream If You Want To Go Faster")
        <br />
        @Html.SpeakerLink(5333, "Bart Read")
    </td>
        <td>
            @Html.SessionLink(3129, "Build Great Software for the Enterprise and Love it")
            <br />
            @Html.SpeakerLink(4331, "Kendall Miller")
        </td>
    </tr>

    <tr class="nonSession">
        <td class="timeCell">16:20</td>
        <td colspan="5">Break</td>
    </tr>
    
    <tr class="nonSession">
        <td class="timeCell">16:30</td>
        <td colspan="5">Wrap-up</td>
    </tr>
    
    <tr class="nonSession">
        <td class="timeCell">17:00</td>
        <td colspan="5">Close</td>
    </tr>
</table>
