@{
    ViewBag.Title = "Agenda";
}

@Styles.Render("~/Content/Site_print")

<style>
    table, th, td {
        border: 1px solid black;
    }

    tr > td:first-child {
        font-weight: bold;
    }

    th, td {
        padding: 4px;
        vertical-align: top;
        width: 32%;
    }

    .timeCell {
        width: 4%;
    }

    .nonSession {
        background-color: #f5f5f5;
    }

    .sessionTitle {
        font-weight: bold;
    }

    .speakerName {
        font-size: smaller;
    }
</style>

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th class="timeCell"/>
        <th>Room 1</th>
        <th>Room 2</th>
        <th>Room 3</th>
    </tr>

    <tr class="nonSession">
        <td class="timeCell">08:30</td>
        <td colspan="3">Registration</td>
    </tr>
    
    <tr class="nonSession">
        <td class="timeCell">09:00</td>
        <td colspan="3">Welcome &amp; Housekeeping</td>
    </tr>
    
    <tr>
        <td class="timeCell">09:15</td>
        <td>
            @Html.ActionLink("Angular JS", "Details", "Session", new { id = 92 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("George Adamson", "Details", "Speaker", new { id = 66 }, new { @class = "speakerName" })
        </td>
        <td>
            @Html.ActionLink("Async C# 5.0 - Patterns for Real-World Use", "Details", "Session", new { id = 75 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("Liam Westley", "Details", "Speaker", new { id = 62 }, new { @class = "speakerName" })
        </td>
        <td>
            @Html.ActionLink("Pragmatic Dependency Injection", "Details", "Session", new { id = 46 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("Ian Russell", "Details", "Speaker", new { id = 53 }, new { @class = "speakerName" })
        </td>
    </tr>

    <tr class="nonSession">
        <td class="timeCell">10:15</td>
        <td colspan="3">Break</td>
    </tr>
    
    <tr>
        <td class="timeCell">10:30</td>
        <td>
            @Html.ActionLink("The densest, fastest moving talk ever", "Details", "Session", new { id = 44 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("Mark Rendle", "Details", "Speaker", new { id = 48 }, new { @class = "speakerName" })
        </td>
        <td>
            @Html.ActionLink("Cross Platform Game Development in C# with Monogame", "Details", "Session", new { id = 64 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("Randolph Burt", "Details", "Speaker", new { id = 76 }, new { @class = "speakerName" })
        </td>
        <td>
            @Html.ActionLink("Continuous Delivery at 7Digital - An Experience Report", "Details", "Session", new { id = 88 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("Chris O'Dell", "Details", "Speaker", new { id = 85 }, new { @class = "speakerName" })
        </td>
    </tr>
    
    <tr class="nonSession">
        <td class="timeCell">11:30</td>
        <td colspan="3">Break</td>
    </tr>
    
    <tr>
        <td class="timeCell">11:45</td>
        <td>
            @Html.ActionLink("An Introduction to Security for Web Apps", "Details", "Session", new { id = 22 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("David Simner", "Details", "Speaker", new { id = 11 }, new { @class = "speakerName" })
        </td>
        <td>
            @Html.ActionLink("Using HTML5 to build desktop software", "Details", "Session", new { id = 68 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("Kevin Boyle", "Details", "Speaker", new { id = 78 }, new { @class = "speakerName" })
        </td>
        <td>
            @Html.ActionLink("Outside-In Testing of MVC", "Details", "Session", new { id = 55 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("Rob Ashton", "Details", "Speaker", new { id = 59 }, new { @class = "speakerName" })
        </td>
    </tr>
    
    <tr class="nonSession">
        <td class="timeCell">12:45</td>
        <td colspan="3">Lunch, Grok Talks</td>
    </tr>
    
    <tr>
        <td class="timeCell">14:00</td>
        <td>
            @Html.ActionLink("Building Startups and Minimum Viable Products using Lean Startup techniques", "Details", "Session", new { id = 21 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("Ben Hall", "Details", "Speaker", new { id = 29 }, new { @class = "speakerName" })
        </td>
        <td>
            @Html.ActionLink("Why use DDD, CQRS and Event Sourcing", "Details", "Session", new { id = 77 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("Ashic Mahtab", "Details", "Speaker", new { id = 82 }, new { @class = "speakerName" })
        </td>
        <td>
            @Html.ActionLink("Better Unit Testing", "Details", "Session", new { id = 63 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("Isaac Abraham", "Details", "Speaker", new { id = 75 }, new { @class = "speakerName" })
        </td>
    </tr>

    <tr class="nonSession">
        <td class="timeCell">15:00</td>
        <td colspan="3">Break</td>
    </tr>
    
    <tr>
        <td class="timeCell">15:15</td>
        <td>
            @Html.ActionLink("SignalR: Ready for Real-time", "Details", "Session", new { id = 13 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("Dave Sussman", "Details", "Speaker", new { id = 20 }, new { @class = "speakerName" })
        </td>
        <td>
            @Html.ActionLink("Creating Domain-Specific Languages in F#", "Details", "Session", new { id = 42 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("Tomas Petricek", "Details", "Speaker", new { id = 47 }, new { @class = "speakerName" })
        </td>
        <td>
            @Html.ActionLink("An Introduction to Octopus Deployment", "Details", "Session", new { id = 16 }, new { @class = "sessionTitle" })
            <br />
            @Html.ActionLink("Joel Hammond-Turner", "Details", "Speaker", new { id = 23 }, new { @class = "speakerName" })
        </td>
    </tr>

    <tr class="nonSession">
        <td class="timeCell">16:15</td>
        <td colspan="3">Break</td>
    </tr>
    
    <tr class="nonSession">
        <td class="timeCell">16:30</td>
        <td colspan="3">Wrap-up</td>
    </tr>
    
    <tr class="nonSession">
        <td class="timeCell">17:00</td>
        <td colspan="3">Close</td>
    </tr>
</table>
