@{
    ViewBag.Title = "Agenda";
}

@Styles.Render("~/Content/Site_print")

<style>
    hr {
        height: 1px;
        background: black;
        border: 1px;
        margin: 5px 0;
    }

    table, th, td {
        border: 1px solid black;
    }

    tr > td:first-child {
        font-weight: bold;
    }

    th, td {
        padding: 4px;
        vertical-align: top;
        width: 19%;
    }

    .timeCell {
        text-align: center;
        width: 5%;
    }

    .nonSession {
        background-color: #f5f5f5;
    }

    .nonSession td img {
        vertical-align: middle;
        height: auto;
        width: auto;
    }

    .sessionTitle {
        font-weight: bold;
    }

    .speakerName {
        font-size: smaller;
    }
</style>

<h2>@ViewBag.Title</h2>

<table>
<tr>
    <th class="timeCell"/>
    <th>Track 1</th>
    <th>Track 2</th>
    <th>Track 3</th>
    <th>Track 4</th>
    <th>Track 5</th>
</tr>

<tr class="nonSession">
    <td class="timeCell">08:30</td>
    <td colspan="5">
        Registration
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">09:00</td>
    <td colspan="5">
        Welcome &amp; Housekeeping
    </td>
</tr>

<tr>
    <td class="timeCell">09:15</td>
    <td>
        @Html.SessionLink(2, "DDD, CQRS and Event Sourcing... how do I actually DO it?")
        <br />
        @Html.SpeakerLink(6492, "Neil Barnwell")
    </td>
    <td>
        @Html.SessionLink(18, "Reactive Applications with Akka.net")
        <br />
        @Html.SpeakerLink(293, "Anthony Brown")
    </td>
    <td>
        @Html.SessionLink(49, "How Do You Know Your Code Is Working RIGHT NOW")
        <br />
        @Html.SpeakerLink(3323, "Peter Mounce")
    </td>
    <td>
        @Html.SessionLink(50, "Omnisharp: .NET sans Microsoft")
        <br/>
        @Html.SpeakerLink(297, "Mathew McLoughlin")
    </td>
    <td>
        @Html.SessionLink(2060, "Roslyn - will we finally have scripting for C#")
        <br />
        @Html.SpeakerLink(8519, "Adam Kosinski")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">10:15</td>
    <td colspan="5">
        Break
        <hr/>
        Refreshments sponsored by <a href="http://redg.at/11xaIPC"><img src="~/images/sponsors/redgate.png" /></a>
    </td>
</tr>

<tr>
    <td class="timeCell">10:35</td>
    <td>
        @Html.SessionLink(25, "Monolith to Microservices")
        <br />
        @Html.SpeakerLink(1, "Ian Johnson")
    </td>
    <td>
        @Html.SessionLink(19, "Write Your Own Compiler in 24 Hours")
        <br />
        @Html.SpeakerLink(34, "Phil Trelford")
    </td>
    <td>
        @Html.SessionLink(17, "How we daily manage and work in a dispersed company: Particular Software")
        <br />
        @Html.SpeakerLink(309, "Mauro Servienti")
    </td>
    <td>
        @Html.SessionLink(42, "Web Developers Are Now Mobile App Developers")
        <br />
        @Html.SpeakerLink(6517, "David Boyne")
    </td>
    <td>
        @Html.SessionLink(51, "How my life changed when I met Git (it wasn’t love at first sight…)")
        <br />
        @Html.SpeakerLink(27, "Matteo Emili")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">11:35</td>
    <td colspan="5">
        Break
        <hr />
        Refreshments sponsored by <a href="http://www.devexpress.com"><img src="~/images/sponsors/devexpress.png" /></a>
    </td>
</tr>

<tr>
    <td class="timeCell">11:55</td>
    <td>
        @Html.SessionLink(2051, "5 Anti-Patterns in designing APIs")
        <br />
        @Html.SpeakerLink(6378, "Ali Kheyrollahi")
    </td>
    <td>
        @Html.SessionLink(33, "F# In The Real World")
        <br />
        @Html.SpeakerLink(6511, "Yan Cui")
    </td>
    <td>
        @Html.SessionLink(13, "Why Service Oriented Architecture?")
        <br />
        @Html.SpeakerLink(6500, "Sean Farmar")
    </td>
    <td>
        @Html.SessionLink(2040, "Error handling with RayGun")
        <br />
        @Html.SpeakerLink(8514, "Karl Gjertsen")
    </td>
    <td>
        @Html.SessionLink(1039, "The myth of the qualified developer")
        <br />
        @Html.SpeakerLink(1313, "Pete Smith")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">12:55</td>
    <td colspan="5">
        Lunch
        <hr/>
        Grok talks
    </td>
</tr>

<tr>
    <td class="timeCell">14:00</td>
    <td>
        @Html.SessionLink(2050, "Why Does My Code Always End Up Like $#!£")
        <br />
        @Html.SpeakerLink(5329, "Ashic Mahtab")
    </td>
    <td>
        @Html.SessionLink(55, "Fun and Games with F#")
        <br />
        @Html.SpeakerLink(6522, "Sean Trelford")
    </td>
    <td>
        TBC 
        @* // Anna Danes *@
    </td>
    <td>
        @Html.SessionLink(22, "Ten Pitfalls of IOC")
        <br />
        @Html.SpeakerLink(6504, "Derek Fowler")
    </td>
    <td>
        @Html.SessionLink(38, "Responsive Web Design for Developers with VisualStudio")
        <br />
        @Html.SpeakerLink(6515, "Don Wibier")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">15:00</td>
    <td colspan="5">
        Break
        <hr />
        Refreshments sponsored by <a href="http://www.devexpress.com"><img src="~/images/sponsors/devexpress.png" /></a>
    </td>
</tr>

<tr>
    <td class="timeCell">15:20</td>
    <td>
        @Html.SessionLink(2066, "Continuous Delivery")
        <br />
        @Html.SpeakerLink(298, "Colin Angus Mackay")
    </td>
    <td>
        @Html.SessionLink(2047, "F# Pattern Matching and Active Patterns")
        <br />
        @Html.SpeakerLink(35, "Richard Dalton")
    </td>
    <td>
        @Html.SessionLink(11, "You keep using the word agile, I do not think it means what you think it means")
        <br />
        @Html.SpeakerLink(2313, "Nathan Gloyn")
    </td>
    <td>
        @Html.SessionLink(9,"A Raspberry Pi2, Azure ML and Project Oxford to unlock that door!")
        <br/>
        @Html.SpeakerLink(6496,"Steve Spencer")
    </td>
    <td>
        @Html.SessionLink(1040, "Go Mobile with C#, Visual Studio, and Xamarin")
        <br />
        @Html.SpeakerLink(7514, "Mike James")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">16:20</td>
    <td colspan="5">
        Break
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">16:30</td>
    <td colspan="5">Wrap-up</td>
</tr>

<tr class="nonSession">
    <td class="timeCell">17:00</td>
    <td colspan="5">Close</td>
</tr>
</table>

<br/>
<br/>
