@{
    ViewBag.Title = "Agenda";
}

@Styles.Render("~/Content/Site_print")

<style>
    hr {
        height: 1px;
        background: black;
        border: 1px;
        margin: 5px 0;
    }

    table, th, td {
        border: 1px solid black;
    }

    tr > td:first-child {
        font-weight: bold;
    }

    th, td {
        padding: 4px;
        vertical-align: top;
        width: 19%;
    }

    .timeCell {
        text-align: center;
        width: 5%;
    }

    .nonSession {
        background-color: #f5f5f5;
    }

    .nonSession td img {
        vertical-align: middle;
        height: auto;
        width: auto;
    }

    .sessionTitle {
        font-weight: bold;
    }

    .speakerName {
        font-size: smaller;
    }
</style>

<h2>@ViewBag.Title</h2>

<table>
<tr>
    <th class="timeCell"/>
    <th>Room 1</th>
    <th>Room 2</th>
    <th>Room 3</th>
    <th>Room 7</th>
    <th>Room 8</th>
</tr>

<tr class="nonSession">
    <td class="timeCell">08:30</td>
    <td colspan="5">
        Registration
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">09:00</td>
    <td colspan="5">
        Welcome &amp; Housekeeping
    </td>
</tr>

<tr>
    <td class="timeCell">09:15</td>
    <td>
        @Html.SessionLink(2088, ".NET Core In The Real World")
        <br />
        @Html.SpeakerLink(8701, "Joe Stead")
    </td>
    <td>
        @Html.SessionLink(2080, "Making Enabling Apps For Disabled People In Xamarin")
        <br />
        @Html.SpeakerLink(8694, "Dennie Declercq")
    </td>
    <td>
        @Html.SessionLink(2092, "An Introduction To GraphQL")
        <br />
        @Html.SpeakerLink(2314, "Sam Hogarth")
    </td>
    <td>
        @Html.SessionLink(2078, "HALT! Who Goes There?")
        <br/>
        @Html.SpeakerLink(8693, "Robin Minto")
    </td>
    <td>
        @Html.SessionLink(2094, "User Story Mapping For Beginners")
        <br />
        @Html.SpeakerLink(298, "Colin Angus Mackay")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">10:15</td>
    <td colspan="5">
        Break
    </td>
</tr>

<tr>
    <td class="timeCell">10:35</td>
    <td>
        @Html.SessionLink(2122, "How To Parse A File")
        <br />
        @Html.SpeakerLink(5337, "Matt Ellis")
    </td>
    <td>
        @Html.SessionLink(2093, "The Power Of Mentoring")
        <br />
        @Html.SpeakerLink(8704, "Simone Cuomo")
    </td>
    <td>
        @Html.SessionLink(2085, "Creating A .NET Renaissance")
        <br />
        @Html.SpeakerLink(2311, "Ian Cooper")
    </td>
    <td>
        @Html.SessionLink(2110, "Async In C# - The Good, The Bad And The Ugly")
        <br />
        @Html.SpeakerLink(8699, "Stuart Lang")
    </td>
    <td>
        @Html.SessionLink(2115, "Testing Demystified")
        <br />
        @Html.SpeakerLink(8715, "Karo Stoltzenburg")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">11:35</td>
    <td colspan="5">
        Break
    </td>
</tr>

<tr>
    <td class="timeCell">11:55</td>
    <td>
        @Html.SessionLink(2126, "Microservices - What I've Learned After A Year Of Building A System")
        <br />
        @Html.SpeakerLink(2313, "Nathan Gloyn")
    </td>
    <td>
        @Html.SessionLink(2114, "The Pursuit Of APIness: The Secret To Happy Code")
        <br />
        @Html.SpeakerLink(8717, "Dylan Beattie")
    </td>
    <td>
        @Html.SessionLink(2116, "You Build It, You Run It")
        <br />
        @Html.SpeakerLink(8576, "Chris O'Dell")
    </td>
    <td>
        @Html.SessionLink(2089, "Introduction To Event Sourcing")
        <br />
        @Html.SpeakerLink(8703, "Duncan Jones")
    </td>
    <td>
        @Html.SessionLink(2111, "Monitoring-First Development")
        <br />
        @Html.SpeakerLink(8716, "Benji Weber")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">12:55</td>
    <td colspan="5">
        Lunch
        <hr/>
        Grok talks
    </td>
</tr>

<tr>
    <td class="timeCell">14:00</td>
    <td>
        @Html.SessionLink(2125, "Breaking The Common Myths About Artificial Intelligence")
        <br />
        @Html.SpeakerLink(8719, "Galiya Warrier")
    </td>
    <td>
        @Html.SessionLink(2101, "Visual Note-taking Workshop")
        <br />
        @Html.SpeakerLink(1, "Ian Johnson")
    </td>
    <td>
        @Html.SessionLink(2072, "Building A Better Web API Architecture Using CQRS")
        <br />
        @Html.SpeakerLink(8691, "Joseph Woodward")
    </td>
    <td>
        @Html.SessionLink(2095, "Speedy Git: Personal Productivity")
        <br />
        @Html.SpeakerLink(8705, "Paul McGrath")
    </td>
    <td>
        @Html.SessionLink(2081, "Cultivating Code: Six Things Gardening Has Taught Me About Legacy Code")
        <br />
        @Html.SpeakerLink(28, "Ceri Shaw")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">15:00</td>
    <td colspan="5">
        Break
    </td>
</tr>

<tr>
    <td class="timeCell">15:20</td>
    <td>
        @Html.SessionLink(2108, "Is EF Core Ready For Primetime?")
        <br />
        @Html.SpeakerLink(8713, "Sandeep Singh")
    </td>
    <td>
        @Html.SessionLink(2086, "How To Be A Rock Star Developer")
        <br />
        @Html.SpeakerLink(34, "Phil Trelford")
    </td>
    <td>
        @Html.SessionLink(2123, "Applied Machine Learning #1 - Counting Your Chickens")
        <br />
        @Html.SpeakerLink(8718, "Gary Short")
    </td>
    <td>
        @Html.SessionLink(2100, "Strategic Domain-Driven Design")
        <br/>
        @Html.SpeakerLink(53, "Ian Russell")
    </td>
    <td>
        @Html.SessionLink(2128, "Client-side Web Performance For Back-End Developers")
        <br />
        @Html.SpeakerLink(8516, "Bart Read")
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">16:20</td>
    <td colspan="5">
        Break
    </td>
</tr>

<tr class="nonSession">
    <td class="timeCell">16:30</td>
    <td colspan="5">Wrap-up</td>
</tr>

<tr class="nonSession">
    <td class="timeCell">17:00</td>
    <td colspan="5">Close</td>
</tr>
</table>

<br/>
<br/>
