@{
    ViewBag.Title = "Home Page";
}

<div class="row-fluid">
    <div class="span12">
        <h1>Welcome to DDD East Anglia!</h1>
        <p>
            @Html.DDDEastAnglia() will be coming to Cambridge on 29 June 2013 at the Hauser Forum. Like all DDD community events,
            @Html.DDDEastAnglia() is free to attend, funded entirely through the generosity of our sponsors. Please 
            @Html.ActionLink("get in touch", "Contact", "Home") if you would like to join other supporters of the UK .NET community
            by sponsoring @Html.DDDEastAnglia().
        </p>
        <p>
            Registration will open nearer to the date, but we invite you to take a look around the site to whet your appetite for what
            promises to be a fantastic event!  Why not <a href="http://www.twitter.com/dddeastanglia">follow us on Twitter</a> to get
            all the latest news and updates?
        </p>
    </div>
</div>

<div class="row-fluid">
    <div id="photos" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#photos" data-slide-to="0" class="active"></li>
            <li data-target="#photos" data-slide-to="1"></li>
            <li data-target="#photos" data-slide-to="2"></li>
            <li data-target="#photos" data-slide-to="3"></li>
            <li data-target="#photos" data-slide-to="4"></li>
            <li data-target="#photos" data-slide-to="5"></li>
            <li data-target="#photos" data-slide-to="6"></li>
            <li data-target="#photos" data-slide-to="7"></li>
            <li data-target="#photos" data-slide-to="8"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="@Url.Content("~/Images/2.jpg")" alt="Raspberry Pi" />
                <div class="carousel-caption">
                    <h4>Raspberry beats Apple</h4>
                    <p>Gary Short's Raspberry Pi from his session at DDD10. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/1.jpg")" alt="Doctor Who Cupcakes" />
                <div class="carousel-caption">
                    <h4>Doctor Who?</h4>
                    <p>The remnants of a treat from Gibraltar Software at DDD10. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/3.jpg")" alt="Audience members at DDD10" />
                <div class="carousel-caption">
                    <h4>A rapt audience</h4>
                    <p>Attendees enjoy a session at DDD10. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/4.jpg")" alt="Three people impersonating the three monkeys: speak no evil, see no evil, hear no evil" />
                <div class="carousel-caption">
                    <h4>The three monkeys</h4>
                    <p>Speak no evil, see no evil, hear no evil&hellip; Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/9.jpg")" alt="People hanging around in a foyer" />
                <div class="carousel-caption">
                    <h4>Catching up between sessions</h4>
                    <p>Attendees of DDD North 2 discuss the sessions they attended. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/5.jpg")" alt="Three people stood in front of a bar" />
                <div class="carousel-caption">
                    <h4>Enjoying the hotel bar</h4>
                    <p>Three DDD North 2 attendees pose for a photo in the hotel bar. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/6.jpg")" alt="A woman stroking a man's beard" />
                <div class="carousel-caption">
                    <h4>The beard stealer!</h4>
                    <p>Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/7.jpg")" alt="People sat around a table" />
                <div class="carousel-caption">
                    <h4>A well-earned Geek Dinner</h4>
                    <p>Winding down with a pint and a curry after a packed day at DDD North 2. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/8.jpg")" alt="People in a pub" />
                <div class="carousel-caption">
                    <h4>A post-event pint</h4>
                    <p>Relaxing in the hotel bar following DDD North 2. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#photos" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#photos" data-slide="next">&rsaquo;</a>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23dddea+OR+%23dddeastanglia+OR+%40dddeastanglia" data-widget-id="255009071894237186">Tweets about DDD East Anglia</a>
        <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>