@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="span12">
        <h1>Welcome to DDD East Anglia!</h1>
        
        <div class="well">
            <p>
                @Html.DDDEastAnglia() is over for 2013. Thanks to all of the speakers, sponsors, helpers and attendees for their help 
                and support in making @Html.DDDEastAnglia() a successful and enjoyable day.
                Photos from the event can be found on our <a href="http://www.flickr.com/dddeastanglia">Flickr page</a>.
            </p>

            <p>
                <strong>We'll be back in 2014!</strong> Keep an eye on this site, or <a href="http://twitter.com/DDDEastAnglia">follow us on Twitter</a> 
                for more information as it becomes available.
            </p>
            
            <p>
                You can read some reviews of @Html.DDDEastAnglia() 2013 in the following blog posts:
                
                <ul>
                    <li><a href="http://ijrussell.tumblr.com/post/54288045539/ddd-east-anglia-review">Ian Russell - DDD East Anglia Review</a></li>
                    <li><a href="http://blog.craigtp.co.uk/post/DDD-East-Anglia-Conference-Write-Up.aspx">Craig Phillips - DDD East Anglia Conference Write-Up</a></li>
                    <li><a href="http://blog.hmobius.com/post/2013/07/03/DDD-East-Anglia-in-Review.aspx">Dan Maharry - DDD East Anglia in Review</a></li>
                    <li><a href="http://geekswithblogs.net/twickers/archive/2013/07/03/ddd-east-anglia-cambridge-29th-june-2013.aspx">Liam Westley - DDD East Anglia Cambridge, 29th June 2013 – a review</a></li>
                    <li><a href="http://nuggets.hammond-turner.org.uk/2013/07/ddd-east-anglia-retrospective.html">Joel Hammond-Turner - DDD East Anglia - A Retrospective</a></li>
                </ul>
            </p>

            <p>
                Slides and/or code for some of the talks can be found at the following links:

                <ul>
                    <li><a href="http://geekswithblogs.net/twickers/archive/2013/07/01/ddd-east-anglia-29th-june-2013---async-patterns-presentation.aspx">Async C# 5.0 - Patterns for Real-World Use (Liam Westley)</a></li>
                    <li><a href="https://github.com/ijrussell/DDDEastAnglia">Pragmatic Dependency Injection (Ian Russell)</a></li>
                    <li><a href="http://randolphburt.co.uk/2013/06/30/ddd-east-anglia/">Cross Platform Game Development in C# with Monogame (Randolph Burt)</a></li>
                    <li><a href="http://prezi.com/2wczo541qzpy/dddea-continuous-delivery-at-7digital/">Continuous Delivery at 7Digital - An Experience Report (Chris O'Dell)</a></li>
                    <li><a href="http://www.slideshare.net/RobAshton/testing-23731623">Outside-In Testing of MVC (Rob Ashton)</a></li>
                    <li><a href="http://media.hammond-turner.org.uk/presentations/Getting+Started+with+Octopus+Deployment.pptx">An Introduction to Octopus Deployment (Joel Hammond-Turner)</a></li>
                </ul>
            </p>
        </div>
        
        <p>
            @Html.DDDEastAnglia() will be coming to Cambridge on 29 June 2013 at the Hauser Forum. Like all DDD community events,
            @Html.DDDEastAnglia() is free to attend, funded entirely through the generosity of our sponsors.
        </p>
        <p>
            Take a look around the site to whet your appetite for what promises to be a fantastic event!
            Why not <a href="http://www.twitter.com/dddeastanglia">follow us on Twitter</a> to get all the latest news and updates?
        </p>
    </div>
</div>

<div class="row">
    <div id="photos" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#photos" data-slide-to="0" class="active"></li>
            <li data-target="#photos" data-slide-to="1"></li>
            <li data-target="#photos" data-slide-to="2"></li>
            <li data-target="#photos" data-slide-to="3"></li>
            <li data-target="#photos" data-slide-to="4"></li>
            <li data-target="#photos" data-slide-to="5"></li>
            <li data-target="#photos" data-slide-to="6"></li>
            <li data-target="#photos" data-slide-to="7"></li>
            <li data-target="#photos" data-slide-to="8"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="@Url.Content("~/Images/2.jpg")" alt="Raspberry Pi" />
                <div class="carousel-caption">
                    <h4>Raspberry beats Apple</h4>
                    <p>Gary Short's Raspberry Pi from his session at DDD10. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/1.jpg")" alt="Doctor Who Cupcakes" />
                <div class="carousel-caption">
                    <h4>Doctor Who?</h4>
                    <p>The remnants of a treat from Gibraltar Software at DDD10. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/3.jpg")" alt="Audience members at DDD10" />
                <div class="carousel-caption">
                    <h4>A rapt audience</h4>
                    <p>Attendees enjoy a session at DDD10. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/4.jpg")" alt="Three people impersonating the three monkeys: speak no evil, see no evil, hear no evil" />
                <div class="carousel-caption">
                    <h4>The three monkeys</h4>
                    <p>Speak no evil, see no evil, hear no evil&hellip; Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/9.jpg")" alt="People hanging around in a foyer" />
                <div class="carousel-caption">
                    <h4>Catching up between sessions</h4>
                    <p>Attendees of DDD North 2 discuss the sessions they attended. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/5.jpg")" alt="Three people stood in front of a bar" />
                <div class="carousel-caption">
                    <h4>Enjoying the hotel bar</h4>
                    <p>Three DDD North 2 attendees pose for a photo in the hotel bar. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/6.jpg")" alt="A woman stroking a man's beard" />
                <div class="carousel-caption">
                    <h4>The beard stealer!</h4>
                    <p>Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/7.jpg")" alt="People sat around a table" />
                <div class="carousel-caption">
                    <h4>A well-earned Geek Dinner</h4>
                    <p>Winding down with a pint and a curry after a packed day at DDD North 2. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/8.jpg")" alt="People in a pub" />
                <div class="carousel-caption">
                    <h4>A post-event pint</h4>
                    <p>Relaxing in the hotel bar following DDD North 2. Credit: <a href="http://www.flickr.com/photos/craigmurphy/">Craig Murphy</a>.</p>
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#photos" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#photos" data-slide="next">&rsaquo;</a>
    </div>
</div>

<div class="row">
    <div class="span6">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23dddea+OR+%23dddeastanglia+OR+%40dddeastanglia" data-widget-id="255009071894237186">Tweets about DDD East Anglia</a>
        <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>