@{
    ViewBag.Title = "Home Page";
}

<div class="row-fluid">
    <div class="span12">
        <h1>Welcome to DDD East Anglia!</h1>

        <div class="well">
            <h3>@Html.DDDEastAnglia() is over for 2017</h3>
            <p>
                Thanks to all of the speakers, sponsors, helpers and attendees for their help
                and support in making @Html.DDDEastAnglia() a successful and enjoyable day.
                Photos from the event can be found on our <a href="https://www.flickr.com/photos/dddea/albums">Flickr</a> page.
            </p>

            <h4>Slides/Code</h4>
            <p>
                Slides and/or code for some of the talks can be found at the following links:
                <ul>
                    <li><a href="https://colinmackay.scot/2017/09/16/story-mapping-for-beginners-ddd-east-anglia-2017/">User Story Mapping for Beginners (Colin Mackay)</a></li>
                    <li><a href="https://github.com/sh1989/graphql-dotnet-consultancy">An Introduction to GraphQL (Sam Hogarth)</a></li>
                    <li><a href="https://sciphus.com/speedygit.html">Speedy Git: Personal Productivity (Paul McGrath)</a></li>
                    <li><a href="https://www.slideshare.net/DuncanJones2/event-sourcing-from-wtf-to-why-to-wow-79057567">Introduction to Event Sourcing (Duncan Jones)</a></li>
                    <li><a href="https://putzerfisch.wordpress.com/2017/09/15/three-ways-to-get-started-with-exploratory-testing-as-a-non-tester/">Testing Demystified (Karo Stoltzenburg)</a></li>
                    <li><a href="https://speakerdeck.com/chrisann/you-build-it-you-run-it-rebelcon-2017">You build it, you run it (Chris O'Dell)</a></li>
                    <li><a href="https://speakerdeck.com/slang25/async-in-c-number-the-good-the-bad-and-the-ugly">Async in C# - The Good, the Bad and the Ugly (Stuart Lang)</a></li>
                </ul>
            </p>

            <h4>Reviews</h4>
            <p>
                You can read some write-ups of @Html.DDDEastAnglia() 2017 in the following blog posts:
                <ul>
                    <li><a href="https://colinmackay.scot/2017/09/16/imposter-syndrome/">Grok Talk: Imposter Syndrome (Colin Mackay)</a></li>
                    <li><a href="http://vivrichards.co.uk/events/dddea2017">Viv Richards - Speaking at and attending DDD East Anglia</a></li>
                    <li><a href="http://qahiccupps.blogspot.co.uk/2017/09/developer-developer-developer-tester.html">James Thomas - Developer! Developer! Developer! Tester!</a></li>
                    <li><a href="http://blog.craigtp.co.uk/post/DDD-East-Anglia-2017-In-Review">Craig Phillips - DDD East Anglia 2017 In Review</a></li>
                </ul>
            </p>

            <h4>Sketchnotes</h4>
            <p>
                @Html.SpeakerLink(1, "Ian Johnson"), who did a @Html.SessionLink(2101, "Visual note-taking workshop"), also sketchnoted the sessions he attended. Here are his sketchnotes:
                <ul>
                    <li><a href="https://twitter.com/IJohnson_TNF/status/910849672100671488">Cultinvating Code: 6 Things Gardening has Taught me about Legacy Code (Ceri Shaw)</a></li>
                    <li><a href="https://twitter.com/IJohnson_TNF/status/910850058979037184">Breaking the common myths about artifical intelligence (Galiya Warrier)</a></li>
                    <li><a href="https://twitter.com/IJohnson_TNF/status/910850314399621120">Microservices - what I've learned after a year of building a system (Nathan Gloyn)</a></li>
                    <li><a href="https://twitter.com/IJohnson_TNF/status/910850556851343361">Async in C# - The Good, the Bad and the Ugly (Stuart Lang)</a></li>
                </ul>
            </p>

            <p>
                <a href="https://twitter.com/magdafiguerola">Magda Figuerola</a>, who attended Ian's session, was inspired to sketchnote some of the talks she attended:
                <ul>
                    <li><a href="https://twitter.com/magdafiguerola/status/909704998854021120">Visual note-taking workshop (Ian Johnson)</a></li>
                    <li><a href="https://twitter.com/magdafiguerola/status/909705396100763648">Spot the difference: Automating visual regression testing (Viv Richards)</a></li>
                    <li><a href="https://twitter.com/magdafiguerola/status/909761643021824000">The Pursuit of APIness: The Secret to Happy Code (Dylan Beattie)</a></li>
                </ul>
            </p>                
        </div>

        <p>
            @Html.DDDEastAnglia() will be returning for its fourth event. It will take place in Cambridge on
            @Html.Action("ConferenceDate", "Timeline") at @Html.ActionLink("Hills Road Sixth Form College", "Venue", "Home").
            Like all <abbr title="Developer! Developer! Developer!">DDD</abbr> community events, @Html.DDDEastAnglia() is free
            to attend, funded entirely through the generosity of our sponsors.
        </p>
        <p>
            <a href="https://twitter.com/intent/follow?screen_name=dddeastanglia">Follow us on Twitter</a> to get all the latest news and updates.
        </p>
    </div>
</div>

<div class="row-fluid">
    <div id="photos" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#photos" data-slide-to="0" class="active"></li>
            <li data-target="#photos" data-slide-to="1"></li>
            <li data-target="#photos" data-slide-to="2"></li>
            <li data-target="#photos" data-slide-to="3"></li>
            <li data-target="#photos" data-slide-to="4"></li>
            <li data-target="#photos" data-slide-to="5"></li>
            <li data-target="#photos" data-slide-to="6"></li>
            <li data-target="#photos" data-slide-to="7"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="@Url.Content("~/Images/carousel/1.jpg")" alt="DDD East Anglia logo" />
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/2.jpg")" alt="Liam Westley presenting" />
                <div class="carousel-caption">
                    <p>Liam Westley presenting his 'An Actor's Life For Me' talk at DDDEA 2014.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/3.jpg")" alt="Attendees mingling" />
                <div class="carousel-caption">
                    <p>Attendees mingle during one of the refreshment breaks at DDDEA 2014.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/4.jpg")" alt="Mark Rendle presenting" />
                <div class="carousel-caption">
                    <p>Mark Rendle presenting his 'The vNext Big Thing' talk at DDDEA 2014.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/5.jpg")" alt="Iris Classon presenting to an audience" />
                <div class="carousel-caption">
                    <p>Iris Classon presenting her lunchtime 'Grok' talk at DDDEA 2014.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/6.jpg")" alt="Ben Hall presenting" />
                <div class="carousel-caption">
                    <p>Ben Hall presenting his 'What Developers Need To Know About Visual Design' talk at DDDEA 2014.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/7.jpg")" alt="Barbara Fusinska presenting" />
                <div class="carousel-caption">
                    <p>Barbara Fusinska presenting her 'Architecture - why so serious?' talk at DDDEA 2014.</p>
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/8.jpg")" alt="Several people on a stage" />
                <div class="carousel-caption">
                    <p>Attendees of DDDEA 2014 receiving prizes during the end of day wrap-up.</p>
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#photos" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#photos" data-slide="next">&rsaquo;</a>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23dddea+OR+%23dddeastanglia+OR+%40dddeastanglia" data-widget-id="255009071894237186">Tweets about DDD East Anglia</a>
        <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
