@{
    ViewBag.Title = "Home Page";
}

<p>
    @Html.DDDEastAnglia() is coming to Cambridge on 29<sup>th</sup> June 2013.                     
</p>

<p>
    @Html.DDDEastAnglia() will be free to attend. Registration will open nearer to the date of the conference.
</p>

<p>
    Follow <a href="http://www.twitter.com/DDDEastAnglia">@Html.DDDEastAnglia()</a> on Twitter for the latest information and updates.
</p>

<p>
    As @Html.DDDEastAnglia() is a free event, we rely exclusively on sponsorship.
                    If you would like to sponsor @Html.DDDEastAnglia(), please <a href="@Url.Action(MVC.Home.Contact())">get in touch</a>.
</p>
<div>
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23dddea+OR+%23dddeastanglia+OR+%40dddeastanglia" data-widget-id="255009071894237186">Tweets about DDD East Anglia</a>
                    <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>