@{
    ViewBag.Title = "Home Page";
}

<div class="row-fluid">
    <h1>Welcome to DDD East Anglia!</h1>

    <div class="well">
        <h3><strong class="dddea">DDD East Anglia</strong> is over for 2019</h3>
        <p>
            Thanks to all of the speakers, sponsors, helpers and attendees for their help
            and support in making <strong class="dddea">DDD East Anglia</strong> a successful and enjoyable day.
            Photos from the event can be found on our <a href="https://www.flickr.com/photos/dddea/albums">Flickr</a> page.
        </p>

        <h4>Slides/Code</h4>
        <p>
            Slides and/or code for some of the talks can be found at the following links:
        </p>

        <ul>
            <li><a href="https://jagreehal.github.io/build-components-not-walls-slides/index.html#/">The web: Build components not walls (Jag Reehal)</a></li>
            <li><a href="https://github.com/GBPhilip/Debugging/tree/CambridgeDDD21-Sep-2019">How to kill a bug without touching it (Philip Sutton)</a></li>
            <li><a href="http://blog.tdwright.co.uk/2019/06/29/aggressively-tuning-cosmos-db-the-long-way-round/">I was a frog being boiled slowly by Cosmos DB (Tom Wright)</a></li>
            <li><a href="https://bit.ly/EasyNetConfigRight">.Net Configuration Is Easy, Right? (Steve Collins)</a></li>
            <li><a href="https://www.slideshare.net/gosiaborzecka/add-more-speech-api-to-your-bot">You should add more Speech API in your bot! (Gosia Borzecka)</a></li>
            <li><a href="https://speakerdeck.com/jmickey/rapid-api-development-in-go">Rapid API Development in Go (Josh Michielsen)</a> [<a href="https://github.com/jmickey/go-code-samples">Code</a>]</li>
            <li><a href="https://bit.ly/k8s-microservices">Solving microservices challenges on the Kubernetes platform (Shahid Iqbal)</a></li>
            <li><a href="https://docs.google.com/presentation/d/1iHuqsx9k9zHz51orAkkOYmD0fXowB4auB9jvAU3fOi4/edit">An Introduction To Domain-Driven Design (Craig Phillips)</a></li>
            <li><a href="https://bit.ly/dotnet-grpc">Beyond HTTP in ASP.NET Core 3.0 with gRPC (Steve Gordon)</a></li>
            <li><a href="https://github.com/ijrussell/DDDEA2019-StrategicDDD">Strategic Domain-Driven Design (Ian Russell)</a></li>
            <li><a href="https://bit.ly/YouFixIt-Deck">You're the Tech Lead - *you* fix it! (Joel Hammond-Turner)</a> [<a href="https://bit.ly/YouFixIt-Repo">Code</a>]</li>
            <li><a href="https://samhogy.co.uk/talks/in-retrospect.html">In Retrospect - Making Retros Great Again (Sam Hogarth)</a></li>
            <li><a href="https://drive.google.com/file/d/1yKjQwciCT9Q02rIzYZIwhcxfVqXzvwV3/view?usp=sharing">What’s Emotional Intelligence got to do with it? (Nokuthula Ndlovu)</a></li>
            <li><a href="https://github.com/madSimonJ/CSharpHacks">Hacking C#: Development for the Truly Lazy (Simon Painter)</a></li>
        </ul>
        <p></p>

        <h4>Sketchnotes</h4>
        <p>
            <a class="speakerName" href="https://twitter.com/IJohnson_TNF">Ian Johnson</a> sketchnoted some of the sessions he attended. Here are his sketchnotes:
        </p>

        <ul>
            <li><a href="https://twitter.com/IJohnson_TNF/status/1175365360004018176/photo/1">The Very First Computer Program (Steven Goodwin)</a></li>
            <li><a href="https://twitter.com/IJohnson_TNF/status/1175367966499717120/photo/1">How to Hack an Election (Gary Short)</a></li>
            <li><a href="https://twitter.com/IJohnson_TNF/status/1175397347460866048/photo/1">Clouds, Microservices, and the brittleness of architecture (David Whitney)</a></li>
            <li><a href="https://twitter.com/IJohnson_TNF/status/1175410397744173057/photo/1">In Retrospect - Making Retros Great Again (Sam Hogarth)</a></li>
        </ul>
        
        <p>
            <a href="https://twitter.com/magdafiguerola">Magda Figuerola</a> also sketchnoted one of the sessions she attended:
        </p>
        
        <ul>
            <li><a href="https://twitter.com/magdafiguerola/status/1176571954549202945">The web: Build components not walls (Jag Reehal)</a></li>
        </ul>
        <p></p>
        
        <h4>Reviews</h4>
        <p>
            You can read some write-ups of <strong class="dddea">DDD East Anglia</strong> 2019 in the following blog posts:
        </p>
        
        <ul>
            <li><a href="https://blog.ninjaferret.co.uk/2019/09/25/dddea.html">Ian Johnson - DDD East Anglia 2019</a></li>
        </ul>
    </div>

    <p>
        @Html.DDDEastAnglia() will be returning for another year. It will take place in Cambridge on
        @Html.Action("ConferenceDate", "Timeline") at @Html.ActionLink("Hills Road Sixth Form College", "Venue", "Home").
        Like all <abbr title="Developer! Developer! Developer!">DDD</abbr> community events, @Html.DDDEastAnglia() is free
        to attend, funded entirely through the generosity of our sponsors.
    </p>
    <p>
        <a href="https://twitter.com/intent/follow?screen_name=dddeastanglia">Follow us on Twitter</a> to get all the latest news and updates.
    </p>
</div>

<div class="row-fluid">
    <div id="photos" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#photos" data-slide-to="0" class="active"></li>
            <li data-target="#photos" data-slide-to="1"></li>
            <li data-target="#photos" data-slide-to="2"></li>
            <li data-target="#photos" data-slide-to="3"></li>
            <li data-target="#photos" data-slide-to="4"></li>
            <li data-target="#photos" data-slide-to="5"></li>
            <li data-target="#photos" data-slide-to="6"></li>
            <li data-target="#photos" data-slide-to="7"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="@Url.Content("~/Images/carousel/2.jpg")" alt="Closing Session 2018" />
                <div class="carousel-caption">
                    A packed closing session at DDD East Anglia 2018.
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/4.jpg")" alt="Don Wibier presenting" />
                <div class="carousel-caption">
                    Don Wibier talks 'Dependency Injection in ASP.NET Core 2. Why and How?' at DDD East Anglia 2018.
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/6.jpg")" alt="Emily Sas presenting" />
                <div class="carousel-caption">
                    Emily Sas giving a lightnight talk on 'Pair Programming - the Marmite of Engineering' at DDD East Anglia 2018.
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/8.jpg")" alt="Hands-on Docker Workshop" />
                <div class="carousel-caption">
                    Paula Muldoon & Paul McGrath deliver their 'Docker for the complete beginner' workshop at DDD East Anglia 2018.
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/9.jpg")" alt="Chris O'Dell" />
                <div class="carousel-caption">
                    Chris O'Dell presenting 'You build it, you run it!' at DDD East Anglia 2017.
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/3.jpg")" alt="Attendees mingling" />
                <div class="carousel-caption">
                    Attendees mingle during one of the refreshment breaks at DDD East Anglia 2014.
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/5.jpg")" alt="Iris Classon presenting to an audience" />
                <div class="carousel-caption">
                    Iris Classon presenting her lunchtime 'Grok' talk at DDD East Anglia 2014.
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Images/carousel/7.jpg")" alt="Barbara Fusinska presenting" />
                <div class="carousel-caption">
                    Barbara Fusinska presenting her 'Architecture - why so serious?' talk at DDD East Anglia 2014.
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#photos" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#photos" data-slide="next">&rsaquo;</a>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23dddea+OR+%23dddeastanglia+OR+%40dddeastanglia" data-widget-id="255009071894237186">Tweets about DDD East Anglia</a>
        <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
