@{
    ViewBag.Title = "Our Sponsors";
}

<h2>@ViewBag.Title</h2>
<p>We would like to extend our thanks to our generous sponsors without whose support @Html.DDDEastAnglia() would not be possible.</p>

<p>If you would like to sponsor @Html.DDDEastAnglia(), please @Html.ActionLink("get in touch", "Contact").</p>

<div class="sponsor span5">
    <a href="http://careers.comparethemarket.com"><img src="@Url.Content("~/Images/sponsors/comparethemarket.png")" /></a>
</div>

<div class="sponsor span5">
    <a href="http://redg.at/11xaIPC"><img src="@Url.Content("~/Images/sponsors/redgate.png")" /></a>
</div>

<div class="sponsor span5">
    <a href="http://www.tinamous.com"><img src="@Url.Content("~/Images/sponsors/tinamous.png")" /></a>
</div>

<div class="sponsor span5">
    <a href="http://www.skillsmatter.com"><img src="@Url.Content("~/Images/sponsors/skillsmatter.png")" /></a>
</div>
