@{
    ViewBag.Title = "The Team";
}

<h2>@ViewBag.Title</h2>
<p>
    <span class="dddea">DDD East Anglia</span> is organised and run by a team of volunteers, all based in or around Cambridge.
</p>

<div class="teammember">
    <img src="@Url.Content("~/Images/team/philpursglove.jpg")" alt="picture of Phil" width="202" height="202" />
    Phil Pursglove
    <br />
    <a href="http://www.twitter.com/philpursglove">@@philpursglove</a>
</div>

<div class="teammember">
    <img src="@Url.Content("~/Images/team/adrianbanks.jpg")" alt="picture of Adrian" width="202" height="202" />
    Adrian Banks
    <br />
    <a href="http://www.twitter.com/adrianbanks">@@adrianbanks</a>
</div>

<div class="teammember">
    <img src="@Url.Content("~/Images/team/davecraft.jpg")" alt="picture of Dave" width="202" height="202" />
    Dave Craft
    <br />
    <a href="http://www.twitter.com/craftyfella">@@craftyfella</a>
</div>

<div class="teammember">
    <img src="@Url.Content("~/Images/team/joncanning.jpg")" alt="picture of Jon" width="202" height="202" />
    Jon Canning
    <br />
    <a href="http://www.twitter.com/JonCanning">@@JonCanning</a>
</div>

<div class="teammember">
    <img src="@Url.Content("~/Images/team/adamsurgenor.jpg")" alt="picture of Adam" width="202" height="202" />
    Adam Surgenor
    <br />
    <a href="http://www.twitter.com/adsurg">@@adsurg</a>
</div>
