@{
    ViewBag.Title = "The Team";
}

<h2>@ViewBag.Title</h2>
<p>
    <span class="dddea">DDD East Anglia</span> is organised and run by a team of volunteers, all based in or around Cambridge.
</p>

<div class="teammember">
    <img src="@Url.Content("~/Images/team/philpursglove.png")" alt="picture of Phil" width="181" height="211" />
    Phil Pursglove
    <br />
    <a href="http://www.twitter.com/philpursglove">@@philpursglove</a>
</div>

<div class="teammember">
    <img src="@Url.Content("~/Images/team/adrianbanks.jpg")" alt="picture of Adrian" width="138" height="205" />
    Adrian Banks
    <br />
    <a href="http://www.twitter.com/adrianbanks">@@adrianbanks</a>
</div>

<div class="teammember">
    <img src="@Url.Content("~/Images/team/alastairsmith.jpg")" alt="picture of Alastair" width="202" height="202" />
    Alastair Smith
    <br />
    <a href="http://www.twitter.com/alastairs">@@alastairs</a>
</div>

<div class="teammember">
    <img src="@Url.Content("~/Images/team/davecraft.jpg")" alt="picture of Dave" width="200" height="200" />
    Dave Craft
    <br />
    <a href="http://www.twitter.com/craftyfella">@@craftyfella</a>
</div>

<div class="teammember">
    <img src="@Url.Content("~/Images/team/joncanning.jpg")" alt="picture of Jon" width="202" height="202" />
    Jon Canning
    <br />
    <a href="http://www.twitter.com/JonCanning">@@JonCanning</a>
</div>
