@model IList<DDDEastAnglia.VotingData.Models.AnonymousUserVoteCountModel>

<h2>Votes cast by anonymous users</h2>

<p>This shows the votes cast by anonymous users (i.e. users who are not logged in).</p>

<table class="table table-striped table-hover table-condensed">
    <tbody>
        @foreach (var item in Model)
        {
            <tr><td>
                <img src="@item.GravatarUrl" width="32" height="32" />
                    <a id="link@(item.CookieId)" href="#" onclick="javascript:expandNode('@item.CookieId'); return false;"><i id="icon@(item.CookieId)" class="icon-chevron-right"></i> @item.CookieId</a>
                <div class="votedSessions" id="placeholder@(item.CookieId)"></div>
            </td><td>
                <div class="pull-right">@item.NumberOfVotes votes</div>
            </td></tr>
        }
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/expandCollapse")

    <script>
        function expandNode(cookieId) {
            var postUrl = '@Url.Action("GetSessionsVotedForByAnonymousUser")';
            expand(cookieId, postUrl, { cookieId: cookieId });
        }
    </script>
}

