@model DDDEastAnglia.Areas.Admin.Models.VotingStatsViewModel

@section header
{
    <style>
        #startdate {
            float: left;
            margin-right: 10px;
        }
        
        #enddate {
            float: right;
            margin-left: 10px;
        }
    </style>
}

<h3>General Stats</h3>

<ul>
    <li>@Model.TotalVotes votes cast in @Model.NumberOfDaysOfVotingPassed days.</li>
    <li>@Model.NumberOfDaysOfVotingRemaining days of voting remaining.</li>
</ul>

<div>
    <span id="startdate">@Model.VotingStartDate.ToLongDateString()</span>
    <span id="enddate">@Model.VotingEndDate.ToLongDateString()</span>
    <div id="progressbar"><div id="progresslabel"></div></div>
    
</div>

<h3>Session Stats</h3>

<ul>
    <li>@Html.ActionLink("Votes for the top 15 sessions", "Leaderboard", new { limit = 15 })</li>
    <li>@Html.ActionLink("Votes for all sessions", "Leaderboard")</li>
</ul>

@section scripts
{
    <script>
        $(function() {
            $("#progressbar").progressbar({
                max: @Model.NumberOfDaysOfVoting,
                value: @Model.NumberOfDaysOfVotingPassed
            });
            $("#progresslabel").text("@((int) (Model.NumberOfDaysOfVotingPassed * 1.0f / Model.NumberOfDaysOfVoting * 100)) %");
        });
    </script>    
}