@model DDDEastAnglia.Areas.Admin.Models.IPAddressStatsViewModel

<h2>IP Addresses</h2>

<p>This shows number of votes per IP address.</p>

<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr><th>
            IP Address
        </th><th>
            Number of Votes
        </th></tr>
    </thead>
    
    <tbody>
    @foreach (var item in Model.IPAddresses) 
    {
        <tr><td>
            @Html.DisplayFor(modelItem => item.IPAddress)
            
            <div>
                <a id="link@(item.IPAddress.Replace(".", "-"))" href="#" onclick="javascript:resolveIPAddress('link@(item.IPAddress.Replace(".", "-"))', '@item.IPAddress', 'resolved@(item.IPAddress.Replace(".", "-"))');return false;"><i class="icon-search"></i></a>
                <span id="resolved@(item.IPAddress.Replace(".", "-"))"></span>
            </div>
        </td><td>
            <div id="progressbar@(item.IPAddress)" data-value="@item.NumberOfVotes"></div>
            @Html.DisplayFor(modelItem => item.NumberOfVotes)
        </td></tr>
    }
    </tbody>
</table>

@section scripts
{
    <script>
        $('div[id^="progressbar"]').each(function() {
            var votes = parseInt($(this).attr("data-value"));
            $(this).progressbar({
                max: @Model.HighestVoteCount,
                value: votes
            });
        });
        
        function resolveIPAddress(linkId, address, outputId) {
            var link = $('#' + linkId);
            link.replaceWith('<i id="' + linkId + '" class="icon-exchange"></i>');
            $.post(
                '@Url.Action("LookupIPAddress")',
                { ipAddress: address }
            ).done(function(data) {
                var loadingIcon = $('#' + linkId);
                loadingIcon.replaceWith('<i class="icon-globe"></i>');
                var output = $('#' + outputId);
                output.hide();
                output.text(data);
                output.fadeIn('fast');
            });
        }
    </script>
}
