@using DDDEastAnglia
@using DDDEastAnglia.Helpers
@model DDDEastAnglia.Areas.Admin.Models.VotesPerDayViewModel

<h2>Votes Per Day</h2>

<p>This chart shows the number of votes cast for each day that voting has been open. The vertical bar represents today.</p>

<div id="chart" style="width:100%;height:600px;"></div>

@section scripts
{
    @Scripts.Render("~/bundles/flot")

    <script>
        $(document).ready(function() {
            var data = [
                {
                    label: "Votes per day",
                    color: "#C00",
                    data: @JsonConvertWrapper.SerializeObject(Model.DayByDay)
                },
                {
                    label: "Cumulative votes",
                    color: "#0C0",
                    data: @JsonConvertWrapper.SerializeObject(Model.Cumulative)
                }
            ];

            var options = {
                series: {
                    lines: { show: true },
                    points: { show: true },
                    shadowSize: 2
                },
                xaxis: {
                    axisLabel: "Date",
                    mode: "time",
                    timeformat: "%d/%m/%Y"
                },
                yaxis: {
                    axisLabel: "Number of votes"
                },
                grid: {
                    hoverable: true,
                    backgroundColor: { colors: ["#fff", "#eee"] },
                    markings: [
                        { xaxis: { from: @DateTime.UtcNow.GetJavascriptTimestamp(), to: @DateTime.UtcNow.GetJavascriptTimestamp() }, color: "#444", label: "Today" }
                    ]
                }
            };

            $.plot($("#chart"), data, options);

            function showTooltip(x, y, contents) {
                $("<div id='tooltip'>" + contents + "</div>").css({
                    position: "absolute",
                    display: "none",
                    top: y - 30,
                    left: x + 5,
                    border: "1px solid #444",
                    padding: "2px",
                    "background-color": "#00C",
                    color: "white",
                    opacity: 0.90
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#chart").bind("plothover", function(event, pos, item) {
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var numberOfVotes = item.datapoint[1];
                        showTooltip(item.pageX, item.pageY, numberOfVotes);
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        });
    </script>
}
