@model DDDEastAnglia.Areas.Admin.Models.VotesForIpAddressViewModel

<h2>Voters for IP Address @Model.IPAddress</h2>

<p>This shows number of votes for each voter from the IP address @Model.IPAddress (host name @Model.HostName).</p>

<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr><th>
            Cookie Id
        </th><th class="barchart">
            Number of Votes
        </th></tr>
    </thead>

    <tbody>
    @foreach (var item in @Model.DistinctVotes)
    {
        <tr><td>
            @Html.DisplayFor(modelItem => item.CookieId)
        </td><td>
            <div id="progressbar@(item.NumberOfVotes)" data-value-max="@Model.HighestNumberOfVotes" data-value-current="@item.NumberOfVotes"></div>
            @Html.DisplayFor(modelItem => item.NumberOfVotes)
        </td></tr>
    }
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/progressbar")
}
