@model IEnumerable<DDDEastAnglia.Areas.Admin.Models.SpeakerModel>

@{
    ViewBag.Title = "Speakers";
}

@Html.Partial("_SearchBox", new ViewDataDictionary { { "containerClass", "tbody tr" }, { "childSelector", "td:not(.controls)" } })

<h2>@ViewBag.Title</h2>

<div class="pull-right">
    <strong>@Model.Count() speakers</strong>
</div>

<table id="speakersTable" class="table table-striped table-hover table-condensed">
    <thead>
        <tr><th>
            @Html.DisplayNameFor(model => model.UserName)
            <span class="icon"></span>
        </th><th>
            @Html.DisplayNameFor(model => model.Name)
            <span class="icon"></span>
        </th><th>
            @Html.DisplayNameFor(model => model.NewSpeaker)
            <span class="icon"></span>
        </th><th>
            @Html.DisplayNameFor(model => model.SubmittedSessionCount)
            <span class="icon"></span>
        </th><th>
            &nbsp;
        </th></tr>
    </thead>
    
    <tbody>
    @foreach (var item in Model) 
    {
        <tr><td>
            <img src="@item.GravatarUrl" width="32" height="32" alt="@item.Name" title="@item.Name">
            @Html.DisplayFor(modelItem => item.UserName)
        </td><td>
            @Html.DisplayFor(modelItem => item.Name)
        </td><td>
            <i class="@(item.NewSpeaker ? "icon-ok" : "icon-remove")"></i>
        </td><td>
            @Html.DisplayFor(modelItem => item.SubmittedSessionCount)
        </td><td class="controls">
            <span><i class="icon-list-alt"></i> @Html.ActionLink("Details", "Details", "User", new { id = item.UserId }, new { area = "Admin" })</span>     
            |
            <span><i class="icon-edit"></i> @Html.ActionLink("Edit", "Edit", "User", new { id = item.UserId }, new { area = "Admin" })</span>
            |
            <span><i class="icon-trash"></i> @Html.ActionLink("Delete", "Delete", "User", new { id = item.UserId }, new { area = "Admin" })</span>
        </td></tr>
    }
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/searchfilter")
    @Scripts.Render("~/bundles/tablesorter")

    <script language="javascript">
        $(document).ready(function() {
            $("#speakersTable").tablesorter({ headers: { 4: { sorter: false } }});
        });
    </script>
}