@model DDDEastAnglia.Models.SpeakerDisplayModel

<div class="span12 speaker @(Model.IsCurrentUser ? "speaker-own" : "")">
    @if (Model.IsCurrentUser)
    {
        <div class="pull-right">
            <span class="action">
                <i class="icon-edit"></i> @Html.ActionLink("Edit Profile", "Edit", "Profile")
            </span>
        </div>
    }
    <h3 id="@Model.Name"><img src="@Html.Raw(@Model.GravatarUrl)" alt="@Html.Raw(@Model.Name)"/> @Model.Name</h3>
    <section class="links">
        @if (!string.IsNullOrWhiteSpace(@Model.WebsiteUrl))
        {
            <p><i class="icon-globe" style="color:green"></i> <a href="@Model.WebsiteUrl">@Model.WebsiteUrl</a></p>
        }

        @if (!string.IsNullOrWhiteSpace(@Model.TwitterHandle))
        {
            <p><i class="icon-twitter" style="color:cornflowerblue"></i> <a href="http://twitter.com/@Model.TwitterHandle">@("@" + @Model.TwitterHandle)</a></p>
        }
    </section>
    
    <p>@Html.MarkdownFor(m => @Model.Bio)</p>

    <h4>Sessions</h4>
    <ul>
    @foreach (var session in @Model.Sessions)
    {
        <li><a href="@Url.Action("Details", "Session", new { id = session.Key })" title="View the details for this session">@session.Value</a></li>
    }
    </ul>
</div>
