@using DDDEastAnglia.Models
@model IEnumerable<SpeakerDisplayModel>

@{
    ViewBag.Title = "Speakers";
}

@section featured
{
    @Html.Partial("_Banner")
}

<h2>Speakers</h2>

@foreach (var speaker in Model)
{
    <div class="row-fluid">
        <div class="span12 speaker">
            <h3><img src="@Html.Raw(speaker.GravatarUrl)" alt="@Html.Raw(speaker.Name)"/> @speaker.Name</h3>
            <section class="links">
                @if (!string.IsNullOrWhiteSpace(speaker.WebsiteUrl))
                {
                    string websiteUrl = speaker.WebsiteUrl;

                    if (!websiteUrl.StartsWith("http"))
                    {
                        websiteUrl = string.Format("http://{0}", websiteUrl);
                    }
                    <p><i class="icon-globe" style="color:green"></i> <a href="@websiteUrl">@websiteUrl</a></p>
                }

                @if (!string.IsNullOrWhiteSpace(speaker.TwitterHandle))
                {
                    <p><i class="icon-twitter" style="color:cornflowerblue"></i> <a href="http://twitter.com/@speaker.TwitterHandle">@("@" + speaker.TwitterHandle)</a></p>
                }
            </section>
    
            <p>@Html.MarkdownFor(m => speaker.Bio)</p>

            <h4>Submitted Sessions</h4>
            <ul>
            @foreach (var session in speaker.Sessions)
            {
                <li><a href="@Url.Action(MVC.Session.Details(session.Key))" title="View the details for this session">@session.Value</a></li>
            }
            </ul>
        </div>
    </div>
}
 

