@using DDDEastAnglia.Models
@model IEnumerable<SpeakerDisplayModel>

@{
    ViewBag.Title = "Speakers";
}

<h2>Speakers</h2>


@foreach (SpeakerDisplayModel speaker in Model)
{
    <h3><img src="@Html.Raw(speaker.GravatarUrl)" alt="@Html.Raw(speaker.Name)"/> @speaker.Name</h3>
    <div>
        @if (!string.IsNullOrWhiteSpace(speaker.WebsiteUrl))
        {
            <p><strong>Website:</strong> <a href="@speaker.WebsiteUrl">@speaker.WebsiteUrl</a></p>
        }
        @if (!string.IsNullOrWhiteSpace(speaker.TwitterHandle) )
        {
            <p><strong>Twitter:</strong> <a href="http://twitter.com/@speaker.TwitterHandle">@("@"+speaker.TwitterHandle)</a></p>
        }
    </div>
    
    <div class="speaker-bio">
        @Html.MarkdownFor(m => speaker.Bio)
    </div>
    <div class="speaker-sessions">
        <strong>Submitted Sessions:</strong><br />
        @foreach (var session in speaker.Sessions)
        {
            <a href="@Url.Action(MVC.Session.Details(session.Key))" title="View the details for this session">@session.Value</a><br/>
        }
    </div>

}
 

