@model DDDEastAnglia.Models.UserProfile

@{
    ViewBag.Title = @Model.Name;
}

<h3><img src="@Html.Raw(@Model.GravatarUrl())" alt="@Html.Raw(@Model.Name)" /> @Model.Name</h3>

<section class="group-box user-details">
    <p><i class="icon-user"></i> @Model.UserName</p>

    @if (!string.IsNullOrWhiteSpace(@Model.EmailAddress))
    {
        <p><i class="icon-envelope"></i> <a href="mailto:@Model.EmailAddress">@Model.EmailAddress</a></p>
    }

    @if (!string.IsNullOrWhiteSpace(@Model.WebsiteUrl))
    {
        <p><i class="icon-globe" style="color:green"></i> <a href="@Model.WebsiteUrl">@Model.WebsiteUrl</a></p>
    }

    @if (!string.IsNullOrWhiteSpace(@Model.TwitterHandle))
    {
        <p><i class="icon-twitter" style="color:cornflowerblue"></i> <a href="http://twitter.com/@Model.TwitterHandle">@("@" + @Model.TwitterHandle)</a></p>
    }

    @if (!string.IsNullOrWhiteSpace(@Model.MobilePhone))
    {
        <p><i class="icon-mobile-phone"></i> @Model.MobilePhone</p>
    }
    
    <p>New Speaker <i class="@(Model.NewSpeaker ? "icon-ok" : "icon-remove")"></i></p>
</section>

@if (!string.IsNullOrWhiteSpace(@Model.Bio))
{
    <div class="group-box bio">
        @Model.Bio
    </div>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
