@model IEnumerable<DDDEastAnglia.Areas.Admin.Models.UserModel>

@{
    ViewBag.Title = "Users";
}

@section header
{
    @Styles.Render("~/Content/admin")
    <style>
        .newSpeakerValue {
            display: none;
        }
    </style>
}

<h2>@ViewBag.Title</h2>

<div class="pull-right">
    <strong>@Model.Count() users</strong>
</div>

<table id="usersTable" class="table table-striped table-hover table-condensed">
    <thead>
        <tr><th>
            @Html.DisplayNameFor(model => model.UserName)
            <span class="icon"></span>
        </th><th>
            @Html.DisplayNameFor(model => model.Name)
            <span class="icon"></span>
        </th><th>
            @Html.DisplayNameFor(model => model.EmailAddress)
            <span class="icon"></span>
        </th><th>
            @Html.DisplayNameFor(model => model.NewSpeaker)
            <span class="icon"></span>
        </th><th>
            @Html.DisplayNameFor(model => model.SubmittedSessionCount)
            <span class="icon"></span>
        </th><th>
            &nbsp;
        </th></tr>
    </thead>
    
    <tbody>
    @foreach (var item in Model) 
    {
        <tr><td>
            <img src="@item.GravatarUrl" width="32" height="32" alt="@item.Name" title="@item.Name">
            @Html.DisplayFor(modelItem => item.UserName)
        </td><td>
            @Html.DisplayFor(modelItem => item.Name)
        </td><td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td><td>
            <i class="@(item.NewSpeaker ? "icon-ok" : "icon-remove")"></i>
            <span class="newSpeakerValue">@item.NewSpeaker</span>
        </td><td>
            @Html.DisplayFor(modelItem => item.SubmittedSessionCount)
        </td><td>
            <i class="icon-list-alt"></i> @Html.ActionLink("Details", "Details", new { id = item.UserId })
            <i class="icon-edit"></i> @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) 
            <i class="icon-trash"></i> @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
        </td></tr>
    }
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/tablesorter")

    <script language="javascript">
        $(document).ready(function() {
            $("#usersTable").tablesorter({ headers: { 5: { sorter: false } }});
        });
    </script>
}