<meta charset="utf-8" />
<title>DDD East Anglia @ViewBag.Title</title>
<link href="http://www.dddeastanglia.com/favicon.png" rel="shortcut icon" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="DDD East Anglia developer conference website">
<meta name="author" content="DDD East Anglia">
@Styles.Render("~/Content/common")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/Markdown")
@Scripts.Render("~/bundles/modernizr")

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="~/Scripts/html5shiv.js"></script>
    <script src="~/Scripts/html5shiv-printshiv.js"></script>
<![endif]-->
<!-- Fav and touch icons -->
<link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Images/logo-icon-144.png")">
<link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Images/logo-icon-114.png")">
<link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Images/logo-icon-72.png")">
<link rel="apple-touch-icon" href="@Url.Content("~/Images/logo-icon-57.png")">
<link rel="image_src" href="@Url.Content("~/Images/logo-small.png")" /> @*this apparently works with embed.ly for Twitter Cards*@
