<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>DDD East Anglia @ViewBag.Title</title>
    <link href="http://www.dddeastanglia.com/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="DDD East Anglia conference website 29 June 2013">
    <meta name="author" content="DDD East Anglia">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/Markdown")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("header", false)

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.js"></script>
      <script src="~/Scripts/html5shiv-printshiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Images/logo-icon-144.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Images/logo-icon-114.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Images/logo-icon-72.png")">
    <link rel="apple-touch-icon" href="@Url.Content("~/Images/logo-icon-57.png")">
    <link rel="image_src" href="@Url.Content("~/Images/logo-small.png")" /> @*this apparently works with embed.ly for Twitter Cards*@
</head>
    <body>
        @Html.Action("Details", "Banner", new { id = "DDDEA2013" })
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="masthead">
                    <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Images/logo-small.png")" class="pull-left" alt="Developer! Developer! Developer! East Anglia" /></a>
                    <h2>DDD East Anglia</h2>
                    <p>Cambridge, UK<br />
                        Saturday 29 June 2013</p>
                </div>
            </div>
        </div>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="btn-group pull-right">
                        @Html.Partial("_LoginPartial")
                    </div>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="dropdown @Html.MenuState("Home", "Index")">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="dropdown @Html.MenuState("Session")">@Html.ActionLink("Sessions", "Index", "Session")</li>
                            <li class="dropdown @Html.MenuState("Speaker", "Index")">@Html.ActionLink("Speakers", "Index", "Speaker")</li>
                            @*<li class="dropdown">@Html.ActionLink("Agenda", MVC.Agenda.Index())</li>*@
                            <li class="dropdown @Html.MenuState("Home", "About")">@Html.ActionLink("New to DDD?", "About", "Home")</li>
                            <li class="dropdown @Html.MenuState("Home", "Venue")">@Html.ActionLink("Venue", "Venue", "Home")</li>
                            <li class="dropdown @Html.MenuState("Home", "Sponsors")">@Html.ActionLink("Sponsors", "Sponsors", "Home")</li>
                            <li class="dropdown @Html.MenuState("Home", "Team")">@Html.ActionLink("Team", "Team", "Home")</li>
                            <li class="dropdown @Html.MenuState("Home", "Contact")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span8">
                        @RenderSection("featured", required: false)
                        <div class="row-fluid">
                            @RenderBody()
                        </div>
                    </div><!--/span9-->
                    <div class="span4" id="sidebar">
                        <div class="well">
                            <section class="row-fluid">
                                <h1>When and Where?</h1>
                                <p>
                                    Saturday 29th June 2013<br />
                                    8:30 to 17:00
                                </p>
                                <p>
                                    The Hauser Forum<br />
                                    3 Charles Babbage Road<br />
                                    Cambridge<br />
                                    CB3 0GT
                                </p>
                            </section>
                            <section>
                                <h1>Timeline</h1>
                                <dl>
                                    <dt><strong>Monday 1 April 2013:</strong></dt><dd>Session submission opens</dd>
                                    <dt><strong>Sunday 28 April 2013:</strong></dt><dd>Session submission closes</dd>
                                    <dt><strong>Wednesday 1 May 2013:</strong></dt><dd>Session voting opens</dd>
                                    <dt><strong>Friday 24 May 2013:</strong></dt><dd>Session voting closes</dd>
                                    <dt><strong>Wednesday 29 May 2013:</strong></dt><dd>Agenda announced</dd>
                                    <dt><strong>Monday 3 June 2013:</strong></dt><dd><strong>Registration opens</strong></dd>
                                </dl>
                            </section>
                            <section id="sponsors">
                                <h1>Sponsors</h1>
                                <div class="sponsor">
                                    <a href="http://www.ideaspace.cam.ac.uk"><img src="@Url.Content("~/Images/sponsors/ideaspace.jpg")" /></a>
                                </div>
                                <div class="sponsor">
                                    <a href="http://redg.at/11xaIPC"><img src="@Url.Content("~/Images/sponsors/Red-Gate.png")" /></a>
                                </div>
                                <div class="sponsor">
                                    <a href="http://www.software-east.net/"><img src="@Url.Content("~/Images/sponsors/software-east.png")" /></a>
                                </div>
                                <div class="sponsor">
                                    <a href="http://www.jetbrains.com"><img src="@Url.Content("~/Images/sponsors/jetbrains.png")" /></a>
                                </div>
                                <div class="sponsor">
                                    <a href="http://www.tinamous.com"><img src="@Url.Content("~/Images/sponsors/tinamous.png")" /></a>
                                </div>
                                <div class="sponsor">
                                    <a href="http://www.pluralsight.com/training"><img src="@Url.Content("~/Images/sponsors/pluralsight.png")" /></a>
                                </div>
                                <div class="sponsor">
                                    <a href="http://www.skillsmatter.com"><img src="@Url.Content("~/Images/sponsors/skillsmatter.png")" /></a>
                                </div>
                                <div class="sponsor">
                                    <a href="http://www.aspose.com"><img src="@Url.Content("~/Images/sponsors/aspose.png")" /></a>
                                </div>
                                <div class="sponsor">
                                    <a href="http://www.iammagpie.co.uk"><img src="@Url.Content("~/Images/sponsors/iammagpie.jpg")" /></a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <hr>
                <footer>
                    <p>
                        &copy; @DateTime.Now.Year DDD East Anglia
                        &mdash;
                        <i class="icon-envelope-alt"></i> <a href="mailto:organisers@dddeastanglia.com">Email</a>
                        &mdash;
                        <i class="icon-twitter"></i> <a href="http://twitter.com/DDDEastAnglia" target="_blank">Twitter</a>
                        &mdash;
                        <i class="icon-github-alt"></i> <a href="https://github.com/dddeastanglia/DDDEastAnglia/issues" target="_blank">Found a problem?</a>
                    </p>
                </footer>
            </div>
        </div><!--/.fluid-container-->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Styles.Render("~/Content/Markdown")
        @RenderSection("scripts", required: false)
        
        <script language="javascript">
            $(document).ready(function () {
                if ($("#notifications-banner").length <= 0) {
                    return;
                }
                
                var eventChangeDateStr = $("#notifications-banner").attr("data-expires");
                var eventChangeDate = new Date(eventChangeDateStr);
                var setEventChangeDate = new Date($.cookie("notification-dismissed"));

                if (setEventChangeDate < eventChangeDate) {
                    @* if the date in the cookie is less than the date on the banner, the user dismissed an older banner *@
                    $.removeCookie('notification-dismissed');
                }

                var keepHidden = $.cookie('notification-dismissed');

                if (!keepHidden) {
                    $("#notifications-banner").slideDown("slow");
                    $(".dismiss").click(function() {
                        $("#notifications-banner").slideUp("fast");
                        $.cookie("notification-dismissed", eventChangeDateStr, { expires: 90 });
                    });
                }
            });
        </script>
        @{Html.RenderPartial("_GoogleAnalytics");}
    </body>
</html>
