<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_HeadSection")
</head>

<body>
    @Html.Action("Details", "Banner")
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="masthead">
                <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Images/DDDLogo.png")" alt="Developer! Developer! Developer! East Anglia" /></a>
                <h2>DDD EAST ANGLIA</h2>
                <p>
                    @Html.Action("ConferenceDate", "Timeline")<br />
                    Cambridge, UK
                </p>
            </div>
        </div>
    </div>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="btn-group pull-right">
                    @Html.Partial("_LoginPartial")
                </div>
                @Html.Action("RenderMenu", "NavigationBar")
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                @RenderSection("featured", required: false)
                <div class="row-fluid">
                    @RenderBody()
                </div>
            </div><!--/span9-->
            <div class="span4" id="sidebar">
                <div class="well">
                    <section class="row-fluid">
                        <h1>When and Where?</h1>
                        <ul>
                            <li>@Html.Action("ConferenceDate", "Timeline")</li>
                            <li>@Html.Action("ConferenceTime", "Timeline")</li> 
                        </ul>
                        <ul>
                            <li>@Html.ActionLink("Hills Road Sixth Form College", "Venue", "Home")</li>
                            <li>Hills Road</li>
                            <li>Cambridge</li>
                            <li>CB2 8PE</li>
                        </ul>
                    </section>

                    @Html.Action("Details", "Timeline")
                    @{
                        Html.RenderAction("Sidebar", "Sponsor");
                    }
                </div>
            </div>
        </div>

        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gravatar")
    @Styles.Render("~/Content/Markdown")
    @RenderSection("scripts", required: false)

    <script language="javascript">
        $(document).ready(function () {
            if ($("#notifications-banner").length <= 0) {
                return;
            }

            var eventChangeDateStr = $("#notifications-banner").attr("data-expires");
            var eventChangeDate = new Date(eventChangeDateStr);
            var setEventChangeDate = new Date($.cookie("notification-dismissed"));

            if (setEventChangeDate < eventChangeDate) {
                @* if the date in the cookie is less than the date on the banner, the user dismissed an older banner *@
                $.removeCookie('notification-dismissed');
            }

            var keepHidden = $.cookie('notification-dismissed');

            if (!keepHidden) {
                $("#notifications-banner").slideDown("slow");
                $(".dismiss").click(function () {
                    $("#notifications-banner").slideUp("fast");
                    $.cookie("notification-dismissed", eventChangeDateStr, { expires: 90 });
                });
            }
        });
    </script>
    @{Html.RenderPartial("_GoogleAnalytics");}
</body>
</html>
