@if (Request.IsAuthenticated)
{
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> @User.Identity.Name
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Edit Profile", "Edit", "Profile", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Change Password", "ChangePassword", "Account", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Manage Logins", "ManageLogins", "Account", new { area = "" }, null)</li>

        <li class="divider"></li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </li>
    </ul>
} 
else 
{
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> Log In
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            @using (Html.BeginForm("ExternalLogin", "Account", new { provider = "GitHub", returnUrl = Url.Action("Index", "Home") }, FormMethod.Post, new { id = "githubLoginform" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('githubLoginform').submit();" id="githubLoginLink"><i class="icon-github"></i> Log in with GitHub</a>
            }
        </li>
        <li>
            @using (Html.BeginForm("ExternalLogin", "Account", new { provider = "Twitter", returnUrl = Url.Action("Index", "Home") }, FormMethod.Post, new { id = "twitterLoginForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('twitterLoginForm').submit();" id="twitterLoginLink"><i class="icon-twitter"></i> Log in with Twitter</a>
            }
        </li>
        <li>
            @using (Html.BeginForm("ExternalLogin", "Account", new { provider = "Google", returnUrl = Url.Action("Index", "Home") }, FormMethod.Post, new { id = "googleLoginForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('googleLoginForm').submit();" id="googleLoginLink"><i class="icon-google-plus"></i> Log in with Google</a>
            }
        </li>
        <li>
            <a href="@Url.Action("Login", "Account")"><i class="icon-user"></i> Log in with DDDEA account</a>
        </li>
        <li class="divider"></li>
        <li>@Html.ActionLink("Register", "Register", "Account", null, new { id = "registerLink" })</li>
    </ul>
}