@if (Request.IsAuthenticated)
{
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> @User.Identity.Name
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Edit Profile", "Edit", "Profile", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Change Password", "ChangePassword", "Account", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Manage Logins", "ManageLogins", "Account", new { area = "" }, null)</li>

        <li class="divider"></li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </li>
    </ul>
} 
else 
{
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> Log In
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        @Html.Action("ExternalLoginMethods", "Account")
        <li>
            <a href="@Url.Action("Login", "Account")"><i class="icon-user"></i> Log in with DDDEA account</a>
        </li>
        <li class="divider"></li>
        <li>@Html.ActionLink("Register", "Register", "Account", null, new { id = "registerLink" })</li>
    </ul>
}