@if (Request.IsAuthenticated) {
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> @User.Identity.Name
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Account Settings", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        <li class="divider"></li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </li>
    </ul>
} else {
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> Log In
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            @using (Html.BeginForm(MVC.Account.ExternalLogin("GitHub", Url.Action(MVC.Home.Index())), FormMethod.Post, new { id = "githubLoginform" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('githubLoginform').submit();" id="githubLoginLink"><i class="icon-github"></i> Log in with GitHub</a>
            }
        </li>
        <li>
            @using (Html.BeginForm(MVC.Account.ExternalLogin("Twitter", Url.Action(MVC.Home.Index())), FormMethod.Post, new { id = "twitterLoginForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('twitterLoginForm').submit();" id="twitterLoginLink"><i class="icon-twitter"></i> Log in with Twitter</a>
            }
        </li>
        <li>
            @using (Html.BeginForm(MVC.Account.ExternalLogin("Google", Url.Action(MVC.Home.Index())), FormMethod.Post, new { id = "googleLoginForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('googleLoginForm').submit();" id="googleLoginLink"><i class="icon-google-plus"></i> Log in with Google</a>
            }
        </li>
        @*<li><a data-toggle="modal" href="#openIdLogin">Log in with an OpenID</a></li>*@
        <li class="divider"></li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}