<section id="sponsors">
    <h1>Sponsors</h1>
    <div class="sponsor">
        <a href="http://www.ideaspace.cam.ac.uk"><img src="@Url.Content("~/Images/sponsors/ideaspace.png")" /></a>
    </div>
    <div class="sponsor">
        <a href="http://redg.at/11xaIPC"><img src="@Url.Content("~/Images/sponsors/Red-Gate.png")" /></a>
    </div>
    <div class="sponsor">
        <a href="http://www.software-east.net/"><img src="@Url.Content("~/Images/sponsors/software-east.png")" /></a>
    </div>
    <div class="sponsor">
        <a href="http://msdn.microsoft.com/en-gb/default.aspx"><img src="@Url.Content("~/Images/sponsors/microsoft.png")"/></a>
    </div>
    <div class="sponsor">
        <a href="http://www.aspose.com"><img src="@Url.Content("~/Images/sponsors/aspose.png")" /></a>
    </div>
    <div class="sponsor">
        <a href="http://techsmith.com"><img src="@Url.Content("~/Images/sponsors/Techsmith.png")"/></a>
    </div>
    <div class="sponsor">
        <a href="http://www.jetbrains.com"><img src="@Url.Content("~/Images/sponsors/jetbrains.png")" /></a>
    </div>
    <div class="sponsor">
        <a href="http://www.tinamous.com"><img src="@Url.Content("~/Images/sponsors/tinamous.png")" /></a>
    </div>
    <div class="sponsor">
        <a href="http://blackdotsolutions.co.uk/"><img src="@Url.Content("~/Images/sponsors/blackdotsolutions.png")"/></a>
    </div>
    <div class="sponsor">
        <a href="http://www.pluralsight.com/training"><img src="@Url.Content("~/Images/sponsors/pluralsight.png")" /></a>
    </div>
    <div class="sponsor">
        <a href="http://www.skillsmatter.com"><img src="@Url.Content("~/Images/sponsors/skillsmatter.png")" /></a>
    </div>
    <div class="sponsor">
        <a href="http://www.tekpub.com"><img src="@Url.Content("~/Images/sponsors/tekpub.png")" /></a>
    </div>
    <div class="sponsor">
        <a href="http://www.gibraltarsoftware.com/"><img src="@Url.Content("~/Images/sponsors/Gibraltar.png")"/></a>
    </div>
    <div class="sponsor">
        <a href="http://stackoverflow.com"><img src="@Url.Content("~/Images/sponsors/stackoverflow.png")" /></a>
    </div>
    <div class="sponsor">
        <a href="http://www.github.com"><img src="@Url.Content("~/Images/sponsors/github.png")" /></a>
    </div>
    <div class="sponsor">
        <a href="http://www.iammagpie.co.uk"><img src="@Url.Content("~/Images/sponsors/iammagpie.png")" /></a>
    </div>
</section>
