@model DDDEastAnglia.Models.ResetPasswordStepThreeModel

<h2>Reset your password</h2>

@using (Html.BeginForm("SaveNewPassword", "ResetPassword", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div>
        <p>Please enter your new password below.</p>
    </div>

    @Html.HiddenFor(m => m.ResetToken)

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label", autofocus = true })
        <div class="controls">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmationPassword, new { @class = "control-label"})
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmationPassword)
            @Html.ValidationMessageFor(m => m.ConfirmationPassword)
        </div>
    </div>

    <div class="form-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Set new password" />
        </div>
    </div>
}
