@model DDDEastAnglia.Models.UserProfile

@{
    ViewBag.Title = "Edit your profile";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

<section id="profile">
@using (Html.BeginForm("UserProfile", "Profile", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <p>Please provide as much information as possible.</p>

    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.UserName)
        
    <div class="form-group">
        @Html.LabelFor(m => Model.Name, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => Model.Name, new { autofocus = true })
            @Html.ValidationMessageFor(m => Model.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => Model.EmailAddress, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => Model.EmailAddress, new { type = "email" })
            @Html.ValidationMessageFor(m => Model.EmailAddress)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => Model.MobilePhone, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => Model.MobilePhone, new { type = "tel" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => Model.TwitterHandle, new { @class = "control-label" })
        <div class="controls">
            <div class="input-group">
                <span class="input-group-addon">@@</span>
                @Html.TextBoxFor(m => Model.TwitterHandle)
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => Model.WebsiteUrl, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => Model.WebsiteUrl, new { type = "url" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => Model.Bio, new { @class = "control-label" })
        <div class="controls">
            <div id="wmd-button-bar"></div>
            <div>
                @Html.TextAreaFor(m => Model.Bio, 10, 80, new { id = "wmd-input" })
            </div>
            <div id="wmd-preview"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="controls">
            @Html.CheckBoxFor(m => Model.NewSpeaker)
            @Html.LabelFor(m => Model.NewSpeaker, new { @class = "checkbox-inline" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Save profile" />
        </div>
    </div>
}
</section>

@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    var converter = new Markdown.Converter();
    var editor = new Markdown.Editor(converter);
    editor.run();
</script>
