@model DDDEastAnglia.Models.UserProfile

@{
    ViewBag.Title = "Edit your profile";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

<section id="profile">
@using (Html.BeginForm("UserProfile", "Profile"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Please provide as much information as possible</legend>
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.UserName)
        
        <div>
            @Html.LabelFor(m => Model.Name)
        </div>
        <div class="input-append">
            @Html.TextBoxFor(m => Model.Name)
            @Html.ValidationMessageFor(m => Model.Name)
            <span class="add-on">required</span>
        </div>

        <div>
            @Html.LabelFor(m => Model.EmailAddress)
        </div>
        <div class="input-append">
            @Html.TextBoxFor(m => Model.EmailAddress)
            @Html.ValidationMessageFor(m => Model.EmailAddress)
            <span class="add-on">required</span>
        </div>

        <div>
            @Html.LabelFor(m => Model.MobilePhone)
        </div>
        <div>
            @Html.TextBoxFor(m => Model.MobilePhone)
        </div>

        <div>
            @Html.LabelFor(m => Model.TwitterHandle)
        </div>
        <div class="input-prepend">
            <span class="add-on">@@</span>
            @Html.TextBoxFor(m => Model.TwitterHandle)
        </div>

        <div>
            @Html.LabelFor(m => Model.WebsiteUrl)
        </div>
        <div>
            @Html.TextBoxFor(m => Model.WebsiteUrl)
        </div>

        <div>@Html.LabelFor(m => Model.Bio)</div>
        <div>
            <div id="wmd-button-bar"></div>
            <div>
                @Html.TextAreaFor(m => Model.Bio, 10, 80, new { id = "wmd-input" })
            </div>
            <div id="wmd-preview"></div>
        </div>

        <div>
            @Html.CheckBoxFor(m => Model.NewSpeaker)
            @Html.LabelFor(m => Model.NewSpeaker, new { @class = "checkbox inline" })
        </div>
    </fieldset>
    
    <p>
        <input type="submit" class="btn btn-primary" value="Save profile" />
    </p>
}</section>

@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    var converter = new Markdown.Converter();
    var editor = new Markdown.Editor(converter);
    editor.run();
</script>
