@model DDDEastAnglia.Models.Session

@{
    ViewBag.Title = Model.Title;
}

@section header
{
    @Styles.Render("~/Content/Markdown")
}

<h2>@Model.Title</h2>

<section class="group-box admin-session-details">
    <p>Submitted by: @Model.SpeakerUserName</p>

    @if (Model.SubmittedAt.HasValue)
    {
        <p>Submitted on: @Model.SubmittedAt.Value.ToString("f")</p>
    }
</section>

<div class="group-box admin-session-abstract">
    @Html.MarkdownFor(model => Model.Abstract)
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SessionId })
    |
    @Html.ActionLink("Delete", "Delete", new { id = Model.SessionId })
    |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts
{
    @Scripts.Render("~/bundles/Markdown")
}
