@model DDDEastAnglia.Models.Session

@{
    ViewBag.Title = @Model.Title;
}

@section header
{
    @Styles.Render("~/Content/Markdown")
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Session", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.SessionId)
    @Html.HiddenFor(model => model.ConferenceId)

    <div class="control-group">
        @Html.LabelFor(m => Model.Title, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => Model.Title, new { autofocus = true, @class = "admin-session-title" })
            @Html.ValidationMessageFor(m => Model.Title)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => Model.SpeakerUserName, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => Model.SpeakerUserName)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => Model.Abstract, new { @class = "control-label" })
        <div class="controls">
            <div id="wmd-button-bar"></div>
            <div>
                @Html.TextAreaFor(m => Model.Abstract, 10, 80, new { id = "wmd-input" })
            </div>
            <div id="wmd-preview"></div>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Save details" />
            @Html.ActionLink("Cancel", "Index")
        </div>
    </div>
}

@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Markdown")

    <script type="text/javascript">
            var converter = new Markdown.Converter();
            var editor = new Markdown.Editor(converter);
            editor.run();
    </script>
}
