@model IEnumerable<DDDEastAnglia.Models.Session>

@{
    ViewBag.Title = "Sessions";
}

@Html.Partial("_SearchBox", new ViewDataDictionary { { "containerClass", "tbody tr" }, { "childSelector", "td:not(.controls)" } })

<h2>@ViewBag.Title</h2>

<div class="pull-right">
    @{
        int speakerCount = Model.Select(s => s.SpeakerUserName).Distinct().Count();
    }
    <strong>@Model.Count() sessions from @speakerCount speakers</strong>
</div>

<table id="sessionsTable" class="table table-striped table-hover table-condensed">
    <thead>
        <tr><th>
            @Html.DisplayNameFor(model => model.Title)
            <span class="icon"></span>
        </th><th>
            @Html.DisplayNameFor(model => model.SpeakerUserName)
            <span class="icon"></span>
        </th><th>
            @Html.DisplayNameFor(model => model.Votes)
            <span class="icon"></span>
        </th><th>
            &nbsp;
        </th></tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr><td>
            <i class="@(item.DurationInMinutes == 60 ? "icon-circle" : "icon-adjust")"
               title="@item.DurationInMinutes minute session"></i>
            @Html.DisplayFor(modelItem => item.Title)
        </td><td>
            @item.SpeakerUserName
        </td><td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td><td class="controls">
            <span><i class="icon-list-alt"></i> @Html.ActionLink("Details", "Details", new { id = item.SessionId })</span>
            |
            <span><i class="icon-edit"></i> @Html.ActionLink("Edit", "Edit", new { id = item.SessionId })</span>
            |
            <span><i class="icon-trash"></i> @Html.ActionLink("Delete", "Delete", new { id = item.SessionId })</span>
        </td></tr>
    }
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/searchfilter")
    @Scripts.Render("~/bundles/tablesorter")

    <script language="javascript">
        $(document).ready(function() {
            $("#sessionsTable").tablesorter({ headers: { 3: { sorter: false } } });
        });
    </script>
}
