@model IEnumerable<DDDEastAnglia.Models.Session>

@{
    ViewBag.Title = "Sessions Admin Index";
}

<h2>Sessions Admin Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpeakerUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpeakerUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SessionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SessionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SessionId })
        </td>
    </tr>
}

</table>
