@model DDDEastAnglia.Models.BannerViewModel

@if (@Model.IsDuringSessionSubmission)
{
    <div id="notifications-banner" data-expires="@Model.CurrentEventExpirationDate">
        <span class="dismiss"><a href="#" title="Dismiss this notification">&times;</a></span>
        <p>Session submission is now open. If you would like to speak at DDD East Anglia, please @Html.ActionLink("submit a session", "Create", "Session", null, new { @class = "submit-session" }).</p>
    </div>                                
}
else if (@Model.IsDuringSessionVoting)
{
    <div id="notifications-banner" data-expires="@Model.CurrentEventExpirationDate)">
        <span class="dismiss"><a href="#" title="Dismiss this notification">&times;</a></span>
        <p>Session voting is now open. Please @Html.ActionLink("vote on the sessions", "Vote", "Session") you would like to see at DDD East Anglia.</p>
    </div>                                
}
