@model IEnumerable<DDDEastAnglia.Areas.Admin.Models.SponsorModel>

<h2>Sponsors</h2>

<div class="pull-left">
    <span class="icon-plus-sign"></span>
    @Html.ActionLink("Add new sponsor", "Create")
</div>

<div class="pull-right">
    <strong>@Model.Count() sponsors</strong>
</div>

<table id="sponsorsTable" class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                <span class="icon"></span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
                <span class="icon"></span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SponsorshipAmount)
                <span class="icon"></span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowPublicly)
                <span class="icon"></span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
                <span class="icon"></span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>

    <tbody>
    @foreach (var sponsor in Model)
    {
        <tr><td>
            @sponsor.Name
        </td><td>
            <a href="@sponsor.Url">@sponsor.Url</a>
        </td><td>
            @sponsor.SponsorshipAmount
        </td><td>
            <i class="@(sponsor.ShowPublicly ? "icon-ok" : "icon-remove")"></i>
        </td><td>
            @(sponsor.PaymentDate != null ? sponsor.PaymentDate.Value.ToString("D") : "[Not Yet Received]")
        </td><td>
            <img src='@Url.Action("Logo", "Sponsors", new { sponsorId = @sponsor.SponsorId, area = "" })' />
        </td>
        <td class="controls">
            <span><i class="icon-trash"></i> @Html.ActionLink("Delete", "Delete", "Sponsor", new { id = sponsor.SponsorId }, new { area = "Admin" })</span>
        </td></tr>
    }
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/tablesorter")

    <script language="javascript">
        $(document).ready(function() {
            $("#sponsorsTable").tablesorter({ headers: { 5: { sorter: false }, 6: { sorter: false } } });
        });
    </script>
}
