@model DDDEastAnglia.Models.TimelineModel

<section>
    <h1>Timeline</h1>
    <dl>
        @Html.Partial("_TimelineItem", Model.SessionSubmissionOpens, new ViewDataDictionary {{"Label", "Session submission opens"}})
        @Html.Partial("_TimelineItem", Model.SessionSubmissionCloses, new ViewDataDictionary { { "Label", "Session submission closes" } })
        @Html.Partial("_TimelineItem", Model.VotingOpens, new ViewDataDictionary { { "Label", "Session voting opens" } })
        @Html.Partial("_TimelineItem", Model.VotingCloses, new ViewDataDictionary { { "Label", "Session voting closes" } })
        @Html.Partial("_TimelineItem", Model.AgendaAnnounced, new ViewDataDictionary { { "Label", "Agenda announced" } })
        @Html.Partial("_TimelineItem", Model.RegistrationOpens, new ViewDataDictionary { { "Label", "Registration opens" } })
    </dl>
</section>
