@model DDDEastAnglia.Models.TimelineModel

<section>
    <h1>Timeline</h1>
    <dl>
        <dt><strong>@Model.SubmissionOpens:</strong></dt>
        <dd>Session submission opens</dd>

        <dt><strong>@Model.SubmissionCloses:</strong></dt>
        <dd>Session submission closes</dd>

        <dt><strong>@Model.VotingOpens:</strong></dt>
        <dd>Session voting opens</dd>

        <dt><strong>@Model.VotingCloses:</strong></dt>
        <dd>Session voting closes</dd>

        <dt><strong>@Model.AgendaAnnounced:</strong></dt>
        <dd>Agenda announced</dd>

        <dt><strong>@Model.RegistrationOpens:</strong></dt>
        <dd><strong>Registration opens</strong></dd>
    </dl>
</section>
