@model DDDEastAnglia.Areas.Admin.Models.MenuViewModel

@{
    Layout = null;
}

<ul class="nav">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-arrow-left"></i> Back to main site</a></li>
    <li><a href="@Url.Action("Index", "Sponsor")">Sponsors</a></li>
    <li><a href="@Url.Action("Index", "User")">Users</a></li>
    <li><a href="@Url.Action("Index", "Speaker")">Speakers</a></li>
    <li><a href="@Url.Action("Index", "Session")">Sessions</a></li>

    @if (Model.ShowVotingStatsLink)
    {
        <li><a href="@Url.Action("Index", "Voting")">Voting</a></li>
    }
</ul>
